<!--
    Include Card for Drug Database Search to Add
    Requires:
    - drug_list
-->
<div class="card">
    <div class="card-header bg-light">
        <div class="row">
            <div class="col-sm-12">
                Choose Drug to Add
           </div>
        </div>
    </div>
    <div class="card-body">
        <div class="col-8">
            <div class="input-group">
                <input class="form-control" id="user-input" placeholder="Search by name, ingredient, registration no." size="50">
                <div class="input-group-text"><i id="search-icon" class="fas fa-search"></i></div>
            </div>
        </div>
        <div id="search-results">
             {% include 'drugdb/_drug_search_results_partial.html' %}
        </div>
    </div>
</div>