<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th scope="col" width="10%">Reg no.</th>
            <th scope="col" width="40%">Product name / Ingredients</th>
            <th scope="col" width="32%">Company</th>
            <th scope="col" class="text-right" width="8%">CMSID</th>
            <th scope="col" class="text-right" width="10%">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for drug in drug_list %}
        
        <tr>
            <td>{{ drug.reg_no}}</td>
            <td><b>{{ drug.name }}</b>
            <br>{{ drug.ingredients_list }}</td>
            <td>{{ drug.company }}</td>
            <td class="text-right">
                {% if drug.item.cmsid %}
                <button 
                  class="btn_modal_trigger btn btn-sm btn-link mr-0"
                  data-id="{% url 'cmsinv:InventoryItemDetailModal' drug.item.cmsid %}">
                    {{ drug.item.cmsid }}
                </button>
                {% else %}&nbsp;
                {% endif %}
            </td>
            <td class="text-right">
                {% if not drug.item.id %}
                <a href="{% url 'cmsinv:NewInventoryItem' %}?reg_no={{ drug.reg_no }}"
                class="btn btn-sm btn-success"
                ><i class="far fa-layer-plus"></i>
                </a>
                {% endif %}
                <a href="{% url 'drugdb:DrugDetailMatch' drug.reg_no %}"
                class="btn btn-sm btn-info"
                ><i class="fad fa-file"></i>
                </a>
            </td>
        </tr>

        {% endfor %}

    </tbody>
</table>
