<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th scope="col" width="10%">Reg no.</th>
            <th scope="col" width="45%">Product name / Ingredients</th>
            <th scope="col" width="35%">Company</th>
            <th scope="col" class="text-right" width="10%">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for drug in drug_list %}
        
        <tr>
            <td>
                {{ drug.reg_no}}
                {% if not drug.is_active %}
                <br><span class="badge badge-sm badge-warning">Discontinued</span>
                {% endif %}
            </td>
            <td><b>{{ drug.name }}</b>
            <br>{{ drug.ingredients_list }}</td>
            <td>{{ drug.company }}</td>
            <td class="text-right">
                {% if drug.item.cmsid %}
                <button 
                  class="btn_modal_trigger btn btn-sm btn-info mr-0"
                  data-id="{% url 'cmsinv:InventoryItemDetailModal' drug.item.cmsid %}">
                  CMS&nbsp;<i class="fad fa-file"></i>
                </button>
                {% elif drug.is_active %}
                <a href="{% url 'cmsinv:NewInventoryItem' %}?reg_no={{ drug.reg_no }}"
                class="btn btn-sm btn-success"
                >+<i class="fad fa-prescription-bottle-alt"></i>
                </a>
                {% endif %}
                {% if not drug.item.cmsid %}
                <a href="{% url 'drugdb:DrugDetailMatch' drug.reg_no %}"
                class="btn btn-sm btn-secondary"
                ><i class="fad fa-file-search"></i>
                </a>
                {% endif %}
            </td>
        </tr>

        {% endfor %}

    </tbody>
</table>
