{% extends 'base.html' %}

{% block title %}
  DrugDB
{% endblock %}

{% block content %}
<div class="card shadow">
    <div class="card-header text-white bg-dark">
      <div class="d-flex justify-content-between align-items-center">
        <span><i class="fa fa-table" aria-hidden="true"></i>
        Registered Drug List</span>
        <a href="https://www.drugoffice.gov.hk/eps/do/en/healthcare_providers/search_drug_database.html" target="_blank">Link to HKGov Drug Office</a>     
      </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-10">
              <form action="{% url 'drugdb:DrugList' %}" method="get">
                <div class="row mb-2">
                  <div class="col-sm-10">
                    <div class="row">
                      <div class="col-sm-8">
                        <div class="input-group input-group-sm">
                          <input
                            class="form-control"
                            name="q"
                            value="{{ last_query }}"
                            type="text"
                            placeholder="Search by drug name/reg no."
                          />
                          <div class="input-group-append">
                            <button class="btn btn-sm btn-secondary">Search</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                          {% if is_paginated %}
                          <ul class="pagination pagination-sm">
                            <li class="page-item">
                              <a
                                href="{% url 'drugdb:DrugList' %}?q={{ last_query }}&page=1"
                                class="page-link"
                              >
                                First
                              </a>
                            </li>
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                              <a
                                href="{% url 'drugdb:DrugList' %}?q={{ last_query }}&page={{ page_obj.previous_page_number }}"
                                class="page-link"
                              >
                                {{ page_obj.previous_page_number }}
                              </a>
                            </li>
                            {% endif %}
                            <li class="page-item active">
                              <a
                                href="{% url 'drugdb:DrugList' %}?q={{ last_query }}&page={{ page_obj.number }}"
                                class="page-link"
                              >
                                {{ page_obj.number }}
                              </a>
                            </li>
                            {% if page_obj.has_next %}
                            <li class="page-item">
                              <a
                                href="{% url 'drugdb:DrugList' %}?q={{ last_query }}&page={{ page_obj.next_page_number }}"
                                class="page-link"
                              >
                                {{ page_obj.next_page_number }}
                              </a>
                            </li>
                            {% endif %}
                            <li class="page-item">
                              <a
                                href="{% url 'drugdb:DrugList' %}?q={{ last_query }}&page=last"
                                class="page-link"
                              >
                                Last ({{ page_obj.paginator.num_pages }})
                              </a>
                            </li>
                          </ul>
                        {% endif %}
                      </div>
                    </div>
                    
                  </div>
                  
                  <div class="col-sm-2 px-1">
                      <div class="input-group input-group-sm">
                        <select 
                            name="t" 
                            id="inputGroupSelectType" 
                            class="custom-select"
                            >
                            <option value="" default 
                            {% if disp_type == '' %} selected {% endif %}
                            >All</option>
                            <option value="1"
                            {% if disp_type == '1' %} selected {% endif %}
                            >Unlinked</option>
                            <option value="2"
                            {% if disp_type == '2' %} selected {% endif %}
                            >Linked</option>
                            <option value="3"
                            {% if disp_type == '3' %} selected {% endif %}
                            >Inactive</option>
                        </select>
                      </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-2">
              <a 
                href="{% url 'inventory:NewDeliveryOrder' %}"
                class="btn btn-sm btn-success btn-block"
              >New Delivery
              </a>
            </div>
        </div>
        
        {% if drug_list %}
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th scope="col" width="8%">ID</th>
                    <th scope="col" width="10%">Reg no.</th>
                    <th scope="col" width="40%">Product name / Ingredients</th>
                    <th scope="col" width="32%">Company</th>
                    <th scope="col" class="text-center" width="10%">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for drug in drug_list %}
                
                <tr>
                    <td>{{ drug.id }}</td>
                    <td>{{ drug.reg_no}}</td>
                    <td><b>{{ drug.name }}</b>
                    <br>{{ drug.ingredients_list }}</td>
                    <td>{{ drug.company }}</td>
                    <td class="text-center">
                        <a href="{% url 'drugdb:DrugDetailMatch' drug.reg_no %}"
                        class="btn btn-sm btn-primary"
                        ><i class="fad fa-file-search"></i>
                        </a>
                        {% if not drug.itemid %}
                        <a href="{% url 'cmsinv:NewInventoryItem' %}?reg_no={{ drug.reg_no }}"
                        class="btn btn-sm btn-success"
                        ><i class="far fa-layer-plus"></i>
                        </a>
                        {% endif %}
                    </td>
                </tr>

                {% endfor %}

            </tbody>
        </table>

        {% else %}
        
        <p>No drugs in database</p>

        {% endif %}

    </div>
</div>
{% endblock %}

{% block extrascripts %}

<script type="text/javascript">
  $(document).ready(function () {
    $(".btn_modal_trigger").each(function() {
       $(this).modalForm({
           formURL: $(this).data('id')
       });
    });
    const optionUpdatePage = function() {
      let disp_type = $("#inputGroupSelectType option:selected").val();
      let dd = $("#inputGroupSelectCategory option:selected").val();
      self.location = "{% url 'drugdb:DrugList' %}?q={{ last_query }}&t="
        + disp_type;
    }
    $("#inputGroupSelectType").change(function() {
      optionUpdatePage();
    });

  });
</script>

{% endblock %}