{% extends 'base.html' %}

{% block title %}
  Drug Deliveries
{% endblock %}
  
{% block content %}
<div class="card shadow">
    <div class="card-header text-white bg-info">
      <div class="d-flex justify-content-between align-items-center">
        <span><i class="fa fa-table" aria-hidden="true"></i>
        Drug Deliveries</span>
      </div>
    </div>
    <div class="card-body">
 
    <nav class="row">
        <div class="col-4">
            <form action="{% url 'drugdb:DrugDeliveryList' %}" method="get">
                <input class="form-control" name="q" type="text" placeholder="Search Drugs Deliveries..." />
            </form>
        </div>
        <div class="col-4">
            {% if last_query %}
            Results for "{{ last_query }}" ({{ last_query_count }})
            {% endif %}
        </div>
        <div class="col-4">
            {% if is_paginated %}
        
            <ul class="pagination">
                <li class="page-item">
                    <a href="{% url 'drugdb:DrugDeliveryList' %}?q={{ last_query }}&page=1"
                    class="page-link">
                        First
                    </a>
                </li>
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="{% url 'drugdb:DrugDeliveryList' %}?q={{ last_query }}&page={{ page_obj.previous_page_number }}" 
                    class="page-link">
                        {{ page_obj.previous_page_number }}
                    </a>
                </li>
                {% endif %}
                <li class="page-item active">
                    <a href="{% url 'drugdb:DrugDeliveryList' %}?q={{ last_query }}&page={{ page_obj.number }}" 
                    class="page-link">
                        {{ page_obj.number }}
                    </a>
                </li>
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="{% url 'drugdb:DrugDeliveryList' %}?q={{ last_query }}&page={{ page_obj.next_page_number }}" 
                    class="page-link">
                        {{ page_obj.next_page_number }}
                    </a>
                </li>
                {% endif %}
                <li class="page-item">
                    <a href="{% url 'drugdb:DrugDeliveryList' %}?q={{ last_query }}&page=last"
                    class="page-link">
                        Last ({{ page_obj.paginator.num_pages }}) 
                    </a>
                </li>
            </ul>
        {% endif %}    
        </div>
    </nav>

    {% if drug_delivery_list %}
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Product name</th>
                <th scope="col">Permit no.</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total price</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for drug in drug_delivery_list %}
            
            <tr>
                <td>{{ drug.date_created|date:"d-m-Y" }}</td>
                <td>{{ drug.product_name }}</td>
                <td>{{ drug.reg_no }}</td>
                <td>{{ drug.purchase_quantity }}+{{ drug.bonus_quantity }}</td>
                <td>{{ drug.total_price }}</td>
                <td>
                    <a href="{% url 'drugdb:DrugDeliveryDetail' drug.id %}" class="btn btn-sm btn-info"> # </a>
                    {% if drug.cmsinv_item %}
                    <button type="button" class="show-item-details btn btn-sm btn-primary"
                        data-id="{% url 'cmsinv:InventoryItemModalDetail' drug.cmsinv_item.pk %}">
                        <i class="fad fa-file-alt"></i>
                    </button>
                    {% endif %}
                    <a href="{% url 'cmsinv:MatchDeliveryInventoryItemList' drug.id %}" class="btn btn-sm btn-success"> = </a>
                    <a href="{% url 'cmsinv:MatchInventoryItemList' drug.reg_no %}" 
                        class="btn btn-sm btn-success">
                        <i class="fad fa-file-search"></i>
                    </a>
                </td>
            </tr>

            {% endfor %}

        </tbody>
    </table>

    {% else %}
    
    <p>No drug delivery in database</p>

    {% endif %}
    
{% endblock %}
  </div>
</div>
{% block extrascripts %}

<script type="text/javascript">
    $(document).ready(function () {
        $(".show-item-details").each(function () {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });
    });
</script>
{% endblock extrascripts %}