{% extends 'base.html' %}

{% block title %}
  Drug: {{ drug_detail.name }}
{% endblock %}

{% block main %}

  {% if user.is_authenticated %}
    <h1>{{ drug_detail.name }}</h1>
    
    <table class="table table-sm table-striped">
        <tbody>
            <tr>
                <th scope="row">Reg./Permit No.</th>
                <td>{{ drug_detail.reg_no }}</td>
            </tr>
            <tr>
                <th scope="row">Product Name</th>
                <td>{{ drug_detail.name }}</td>
            </tr>
            <tr>
                <th scope="row">Ingredients</th>
                <td>{{ drug_detail.ingredients_list }}</td>
            </tr>
            <tr>
                <th scope="row">Permit Holder</th>
                <td>{{ drug_detail.company }}</td>
            </tr>
        </tbody>
    </table>

  {% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>

  {% endif %}
  
{% endblock %}

{% block sidebar %}

{% endblock %}