{% extends 'base.html' %}

{% block title %}
  Drug Deliveries
{% endblock %}
  
{% block main %}

    <h1>Drug Delivery List</h1>
    
    <nav class="row">
        <div class="col-4">
            <form action="{% url 'drugdb:DrugDeliveryList' %}" method="get">
                <input name="q" type="text" placeholder="Search Drugs Deliveries..." />
            </form>
        </div>
        <div class="col-4">
            {% if last_query %}
            Results for "{{ last_query }}" ({{ last_query_count }})
            {% endif %}
        </div>
        <div class="col-4">
            {% if is_paginated %}
        
            <ul class="pagination">
                <li class="page-item">
                    <a href="{% url 'drugdb:DrugDeliveryList' %}?q={{ last_query }}&page=1"
                    class="page-link">
                        First
                    </a>
                </li>
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="{% url 'drugdb:DrugDeliveryList' %}?q={{ last_query }}&page={{ page_obj.previous_page_number }}" 
                    class="page-link">
                        {{ page_obj.previous_page_number }}
                    </a>
                </li>
                {% endif %}
                <li class="page-item active">
                    <a href="{% url 'drugdb:DrugDeliveryList' %}?q={{ last_query }}&page={{ page_obj.number }}" 
                    class="page-link">
                        {{ page_obj.number }}
                    </a>
                </li>
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="{% url 'drugdb:DrugDeliveryList' %}?q={{ last_query }}&page={{ page_obj.next_page_number }}" 
                    class="page-link">
                        {{ page_obj.next_page_number }}
                    </a>
                </li>
                {% endif %}
                <li class="page-item">
                    <a href="{% url 'drugdb:DrugDeliveryList' %}?q={{ last_query }}&page=last"
                    class="page-link">
                        Last ({{ page_obj.paginator.num_pages }}) 
                    </a>
                </li>
            </ul>
        {% endif %}    
        </div>
    </nav>

    {% if drug_delivery_list %}
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Product name</th>
                <th scope="col">Permit no.</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total price</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for drug in drug_delivery_list %}
            
            <tr>
                <td>{{ drug.date_created }}</td>
                <td>{{ drug.product_name }}</td>
                <td>{{ drug.reg_no }}</td>
                <td>{{ drug.purchase_quantity }}+{{ drug.bonus_quantity }}</td>
                <td>{{ drug.total_price }}</td>
                <td>
                    <a href="{% url 'drugdb:DrugDeliveryDetail' drug.id %}" class="btn btn-sm btn-info"> # </a>
                    <a href="{% url 'cmsinv:MatchDeliveryInventoryItemList' drug.pk %}" class="btn btn-sm btn-success"> = </a>
                </td>
            </tr>

            {% endfor %}

        </tbody>
    </table>

    {% else %}
    
    <p>No drug delivery in database</p>

    {% endif %}
    

  
{% endblock %}

{% block sidebar %}

Filter

{% endblock %}