<!--
    Include Card for Expense Bill Delivery Items
    Requires:
    - delivery_orders_list
-->

{% if deliveryorder_list %}
    {% include 'inventory/_deliveryorder_list_table.html' %}
{% else %}    
    <p>No delivery order in database</p>
{% endif %}
<div class="card">
    <div class="card-body">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th scope="col">Product name</th>
                    <th scope="col">Permit no.</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Bonus</th>
                    <th scope="col" class="text-center">Std Cost</th>
                    <th scope="col" class="text-center">Avg Cost</th>
                    <th scope="col" class="text-center">Total</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for listitem in delivery_orders_list %}
                
                <tr>
                    <td>{{ listitem.item.name }}</td>
                    <td>{{ listitem.item.reg_no }}</td>
                    <td class="text-monospace text-right">{{ listitem.purchase_quantity }}</td>
                    <td class="text-monospace text-right">{{ listitem.bonus_quantity }}</td>
                    <td class="text-monospace text-right">@ ${{ listitem.standard_cost }}</td>
                    <td class="text-monospace text-right">@ ${{ listitem.average_cost }}</td>
                    <td class="text-monospace text-right">${{ listitem.total_price }}</td>
                    <td class="text-center">
                        <button type="button" class="btn_modal_trigger btn btn-sm btn-info"
                            data-id="{% url 'inventory:DeliveryItemUpdateModal' delivery_id=delivery_obj.id pk=listitem.id %}"
                        ><i class="fad fa-edit"></i>
                        </button> 
                        {% if perms.can_delete_deliveryitem %}
                        <button type="button" 
                            class="btn_modal_trigger btn btn-sm btn-danger"
                            data-id="{% url 'inventory:DeliveryItemDeleteModal' delivery_id=delivery_obj.id pk=listitem.id %}" 
                        ><i class="fad fa-trash"></i>
                        </button>
                        {% endif %}
                    </td>
                </tr>
    
                {% endfor %}
    
            </tbody>
        </table>

    </div>
</div>
{% else %}
<div class="alert alert-secondary" role="alert">
    No Drug Delivery Items Record 
</div>
{% endif %}