<!--
    Include Card for Expense Bill Delivery Items
    Requires:
    - unpaid_deliveries_list
-->

<div class="card">
    <div class="card-header bg-warning">
        <strong>Outstanding Unpaid Delivery Orders</strong>
    </div>
    <div class="card-body">
        <table class="table table-hover table-sm table-striped">
            <thead>
                <tr>
                    <th scope="col">Invoice date</th>
                    <th scope="col">Received date</th>
                    <th scope="col">Invoice no.</th>
                    <th scope="col">Vendor</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Due Date</th>
                    <th scope="col" class="text-right">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for delivery_obj in unpaid_deliveries_list %}
                {% if delivery_obj.amount != 0 %}
                <tr>
                    <td>{{ delivery_obj.invoice_date|date:"d-m-Y" }}</td>
                    <td>{{ delivery_obj.received_date|date:"d-m-Y" }}</td>
                    <td>{{ delivery_obj.invoice_no }}</td>
                    <td>{{ delivery_obj.vendor.name}}</td>
                    <td>{{ delivery_obj.amount }}</td>
                    <td>
                        {{ delivery_obj.due_date|date:"d-m-Y" }}
                    </td>
                    <td class="text-right">
                        <a href="{% url 'inventory:DeliveryOrderDetail' delivery_obj.id %}" 
                        class="btn btn-sm btn-info"
                        ><i class="fad fa-box-alt"></i>
                        </a>
                        <a href="{% url 'ledger:ExpenseAddDeliveryOrder' expense_obj.id delivery_obj.id %}" 
                          class="btn btn-sm btn-primary"
                        ><i class="fal fa-layer-plus"></i>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
        
            </tbody>
        </table>

    </div>
</div>
