{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% include "_modal.html" %}
{{form.media}}

<div class="card shadow">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <span>Expense Entry ID # {{ expense.pk }}</span>
        <span>
          <button id="btn_save_details" class="btn btn-sm btn-success">
            Save Details
          </button>
          <button 
            id="btn_delete" 
            class="btn_modal_trigger btn btn-sm btn-danger" 
            data-form-url="{% url 'ledger:ExpenseDeleteModal' expense_obj.pk %}"
          >
            Delete
          </button>
          <a
            href="javascript: history.go(-1)"
            id="btn_cancel"
            class="btn btn-sm btn-secondary"
          >Cancel
          </a>
        </span>
      </div>
    </div>
    <div class="card-body">
        {% crispy form %}
    </div>
</div>

{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
    $(document).ready(function () {
      
      $("#btn_save_details").click(function() {
        $('#id-ExpenseForm').submit()
      });

      $(".btn_modal_trigger").each(function() {
        $(this).modalForm({
          formURL: $(this).data('form-url')
        });
      });
      $(".date").datetimepicker({
          format: "YYYY-MM-DD",
      });
    });
</script>
{% endblock %}