{% extends 'base.html' %} {% block title %} Expenses {% endblock %} {% load
crispy_forms_tags %} {% block content %}

<div class="card shadow">
  <div class="card-header text-white bg-info">
    <div class="d-flex justify-content-between align-items-center">
      <span>
        <i class="fad fa-table" aria-hidden="true"></i>
        Expenses
      </span>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-10">
        <form action="{% url 'ledger:ExpenseList' %}" method="get">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                {% include "_datepicker_from_to.html" %}
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-sm-10">
              <div class="row">
                <div class="col-sm-8">
                  <div class="input-group input-group-sm">
                    <input
                      class="form-control"
                      id="query_input"
                      name="q"
                      value="{{ last_query }}"
                      type="text"
                      placeholder="Search by payee/vendor"
                    />
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-secondary">Search</button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                    {% if is_paginated %}
                    <ul class="pagination pagination-sm">
                      <li class="page-item">
                        <a
                          href="{% url 'ledger:ExpenseList' %}?q={{ last_query }}&begin={{ begin }}&end={{ end }}&page=1"
                          class="page-link"
                        >
                          First
                        </a>
                      </li>
                      {% if page_obj.has_previous %}
                      <li class="page-item">
                        <a
                          href="{% url 'ledger:ExpenseList' %}?q={{ last_query }}&begin={{ begin }}&end={{ end }}&page={{ page_obj.previous_page_number }}"
                          class="page-link"
                        >
                          {{ page_obj.previous_page_number }}
                        </a>
                      </li>
                      {% endif %}
                      <li class="page-item active">
                        <a
                          href="{% url 'ledger:ExpenseList' %}?q={{ last_query }}&begin={{ begin }}&end={{ end }}&page={{ page_obj.number }}"
                          class="page-link"
                        >
                          {{ page_obj.number }}
                        </a>
                      </li>
                      {% if page_obj.has_next %}
                      <li class="page-item">
                        <a
                          href="{% url 'ledger:ExpenseList' %}?q={{ last_query }}&begin={{ begin }}&end={{ end }}&page={{ page_obj.next_page_number }}"
                          class="page-link"
                        >
                          {{ page_obj.next_page_number }}
                        </a>
                      </li>
                      {% endif %}
                      <li class="page-item">
                        <a
                          href="{% url 'ledger:ExpenseList' %}?q={{ last_query }}&begin={{ begin }}&end={{ end }}&page=last"
                          class="page-link"
                        >
                          Last ({{ page_obj.paginator.num_pages }})
                        </a>
                      </li>
                    </ul>
                  {% endif %}
                </div>
              </div>
              
            </div>
            
            <div class="col-sm-4 px-1">
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-2">
        <div class="row mb-2">
          <div class="col-sm-12">
            <a 
              href="{% url 'ledger:NewExpense' %}"
              class="btn btn-sm btn-success btn-block"
            >New Expense
            </a>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-12">
            <button id="btn-export_excel" class="btn btn-sm btn-light btn-block" disabled>Disabled</button>
          </div>
        </div>
      </div>
    </div>
    
    {% if expense_list_obj %}
    <table class="table table-hover table-sm table-striped">
      <thead>
        <tr>
          <th scope="col">Paid Date</th>
          <th scope="col">Invoice Date</th>
          <th scope="col">Invoice No.</th>
          <th scope="col">Payee</th>
          <th scope="col">Category</th>
          <th scope="col" class="text-right">Amount</th>
          <th scope="col" class="text-center">Cheque/Ref</th>
          <th scope="col" class="text-right">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for expense_obj in expense_list_obj %}

        <tr>
          <td>{{ expense_obj.expected_date|date:"d-m-y" }}</td>
          <td>{{ expense_obj.invoice_date|date:"d-m-y" }}</td>
          <td>
            <a
              tabindex="0"
              data-toggle="popover" 
              data-trigger="hover"
              data-container="body"
              data-content="{{expense_obj.invoice_no}}">
              {{ expense_obj.invoice_short }}
          </a>
          </td>
          <td>
            <a class="btn-link" href="{% url 'ledger:NewExpense' %}?vendor={{ expense_obj.vendor.id }}">
              <span class="badge badge-secondary ml-2 mt-0"
                ><i class="far fa-plus"></i>&nbsp;<i class="far fa-file-invoice-dollar"></i>
                </span>
            </a>{{ expense_obj.payee }}
          </td>
          <td>{{ expense_obj.category.name }}</td>
          <td class="text-right">{{ expense_obj.amount }}</td>
          <td class="text-center">
            {% if expense_obj.payment_ref %}
            {{ expense_obj.payment_ref }}
            {% else %}-
            {% endif %}
          </td>
          <td class="text-right">
            {% if not expense_obj.permanent %}
            <a
              href="{% url 'ledger:ExpenseUpdate' expense_obj.pk %}"
              class="btn-expense_update btn btn-sm btn-primary"
            >
              <i class="fad fa-edit"></i>
            </a>
            {% endif %}
            <a
              href="{% url 'ledger:ExpenseDetail' expense_obj.pk %}"
              class="btn btn-sm btn-info"
              ><i class="far fa-file-invoice-dollar"></i>
            </a>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>

    {% else %}

    <p>No expenses in database</p>

    {% endif %}
  </div>
</div>

{% endblock %} {% block extrascripts %}

<script type="text/javascript">
  $(document).ready(function () {
    $(".expense-item-update").each(function () {
      $(this).modalForm({
        formURL: $(this).data("id"),
      });
    });

    $("#btn-add_expense").modalForm({
      formURL: "{% url 'ledger:NewExpenseModal' %}",
    });
    $("#datepicker_from").datetimepicker({
      format: "YYYY-MM-DD",
    });
    $("#datepicker_to").datetimepicker({
      format: "YYYY-MM-DD",
      useCurrent: false,
    });
    $("#datepicker_from").on("change.datetimepicker", function (e) {
      $("#datepicker_to").datetimepicker("minDate", e.date);
    });
    $("#datepicker_from").on("change.datetimepicker", function (e) {
      $("#datepickerto").datetimepicker("maxDate", e.date);
    });
    $("#btn-view_last_month").click(function() {
      var today = moment().format("YYYY-MM-DD");
      var oneMonthAgo = moment().subtract(1, 'months').format("YYYY-MM-DD");
      var loadurl = "{% url 'ledger:ExpenseList' %}?q={{ last_query }}&begin=" 
        + oneMonthAgo + "&end=" + today;
      window.location = loadurl;
    });
    $("#btn-view_last_3_months").click(function() {
      var today = moment().format("YYYY-MM-DD");
      var threeMonthsAgo = moment().subtract(3, 'months').format("YYYY-MM-DD");
      var loadurl = "{% url 'ledger:ExpenseList' %}?q={{ last_query }}&begin=" 
        + threeMonthsAgo + "&end=" + today;
      window.location = loadurl;
    });
    $("#btn-view_last_6_months").click(function() {
      var today = moment().format("YYYY-MM-DD");
      var oneMonthAgo = moment().subtract(6, 'months').format("YYYY-MM-DD");
      var loadurl = "{% url 'ledger:ExpenseList' %}?q={{ last_query }}&begin=" 
        + oneMonthAgo + "&end=" + today;
      window.location = loadurl;
    });
    $("#btn-view_all").click(function() {
      var loadurl = "{% url 'ledger:ExpenseList' %}?q={{ last_query }}&begin=&end=" 
      window.location = loadurl;
    });
    $('[data-toggle="popover"]').popover();
    $('.popover-dismiss').popover({
      trigger: 'focus'
    });
    $("#query_input").focus();
  });
</script>
{% endblock %}
