{% extends 'base.html' %}

{% block title %}
  Expense Record: {{ expense_obj.entry_date }}
{% endblock %}

{% block content %}
  {% include '_modal.html' %}

  <div class="card shadow">
    <div class="card-header text-white bg-info">
      <div class="d-flex justify-content-between align-items-center">
        <span>
          <i class="far fa-file-invoice-dollar" aria-hidden="true"></i>
          Expense on {{ expense_obj.entry_date }}
        </span>
        <span>
          {% if perms.view_expense %}
          <a
            href="{% url 'ledger:ExpenseList' %}"
            class="btn btn-sm btn-dark text-white"
          ><i class="fal fa-step-backward"></i>&nbsp;Expenses
          </a>
          {% endif %}
          <a
            href="{% url 'inventory:DeliveryOrderList' %}"
            class="btn btn-sm btn-dark text-white"
          ><i class="fal fa-step-backward"></i>&nbsp;Orders
          </a>
          <a
            href="{% url 'inventory:DeliveryItemList' %}"
            class="btn btn-sm btn-dark text-white"
          ><i class="fal fa-step-backward"></i>&nbsp;Drugs
          </a>
          {% if not expense_obj.permanent or user.is_staff %}
          <button
            class="btn_modal_trigger btn btn-sm btn-light"
            data-id="{% url 'ledger:ExpenseUpdateModal' expense_obj.id %}?next={{ request.path }}"
          >Edit
          </button>
          {% endif %}
        </span>
      </div>
    </div>
    <div class="card-body">
      <div class="form-row border-bottom pb-2 mb-2">
        <div class="col-md-6 mb-0"><strong>{{ expense_obj.payee }}</strong>
          {% if expense_obj.vendor.is_supplier %}
          <a
            class="badge badge-secondary ml-2 my-0"
            href="{% url 'inventory:NewDeliveryOrder' %}?vendor={{ expense_obj.vendor.id }}"
          >Add new delivery
          </a>
          <a
            class="badge badge-light ml-2 my-0"
            href="{% url 'ledger:NewDeliveryOrderPayment' expense_obj.vendor.id %}"
          >New Payment 
          </a>
          {% else %}
          <a
            class="badge badge-light ml-2 my-0"
            href="{% url 'ledger:NewExpense' %}?vendor={{ expense_obj.vendor.id }}"
          >New Expense
          </a>
          {% endif %}
        </div>
        <div class="col-md-2 mb-0">Amount</div>
        <div class="col-md-4 mb-0">
          <div class="d-flex justify-content-between">
          <span><strong>$ {{ expense_obj.amount }}</strong></span>
          <div>
            {% if not expense_obj.permanent and user.is_staff %}
            <a
              class="btn btn-sm badge badge-danger ml-2 mt-0"
              href="{% url 'ledger:ExpenseTogglePermanent' expense_obj.id %}"
            >Set permanent 
            </a>
            {% elif not expense_obj.permanent %}
            <button
              class="btn_modal_trigger badge badge-warning" type="button"
              data-id="{% url 'ledger:ExpenseConfirmPermanentModal' expense_obj.id %}?next={{ request.path }}"
            >
              Make permanent
            </button>
            {% elif user.is_staff %}
            <a
              class="btn btn-sm badge badge-danger ml-2 mt-0"
              href="{% url 'ledger:ExpenseTogglePermanent' expense_obj.id %}"
            >Toggle permanent 
            </a>
            {% endif %}
            {% if expense_obj.expected_date %}
            <span class="badge badge-success">Paid</span>
            {% endif %}
          </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-2 mb-0">Description</div>
        <div class="col-md-4 mb-0">{{ expense_obj.description }}</div>
        <div class="col-md-2 mb-0">Entry Date</div>
        <div class="col-md-4 mb-0">{{ expense_obj.entry_date|date:"d-m-Y" }}</div>
      </div>
      <div class="form-row">
        <div class="col-md-2 mb-0">Category</div>
        <div class="col-md-4 mb-0">{{ expense_obj.category.name }}</div>
        
        <div class="col-md-2 mb-0">Invoice Date</div>
        <div class="col-md-4">{{ expense_obj.invoice_date |date:"d-m-Y"}}</div>
      </div>
      <div class="form-row">
        <div class="col-md-2 mb-0">Invoice No.</div>
        <div class="col-md-4 mb-0">{{ expense_obj.invoice_no }}</div>
        <div class="col-md-2 mb-0">Cheque/Paid Date</div>
        <div class="col-md-4 mb-0 ">
          {{ expense_obj.expected_date|date:"d-m-Y"}}
          
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-2 mb-0">Cheque No.</div>
        <div class="col-md-4 mb-0">{{ expense_obj.payment_ref }}</div>
        <div class="col-md-2 mb-0">Payment</div>
        <div class="col-md-4 mb-0">{{ expense_obj.payment_method.name }}</div>
      </div>
      <div class="form-row">
        <div class="col-md-2 mb-0">Remarks</div>
        <div class="col-md-4 mb-0">{{ expense_obj.remarks }}</div>
        <div class="col-md-2 mb-0">Other Ref</div>
        <div class="col-md-4 mb-0">{{ expense_obj.other_ref }}</div> 
      </div>
      <hr>
      {% if deliveryorder_list %}
          {% include 'ledger/_deliveryorder_list_table.html' %}
      {% elif expense_obj.catetegory.name == "Drugs" %}    
      <div class="alert alert-secondary" role="alert">
        No delivery orders 
      </div>      
      {% endif %}
    </div>
  </div>
  {% if unpaid_deliveries_list %}
  {% include 'ledger/_unpaid_delivery_orders.html' %}
  {% elif expense_obj.category.name == "Drugs" %}
  <div class="alert alert-secondary" role="alert">
      No outstanding unpaid delivery orders 
  </div>
  {% endif %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
  $(document).ready(function () {
      $(".btn_modal_trigger").each(function() {
          $(this).modalForm({
              formURL: $(this).data('id')
          });
      });
  });
</script>
{% endblock %}