{% extends 'base.html' %}

{% load crispy_forms_tags %}
{{form.media}}

{% block content %}

{% include "_modal.html" %}

<div class="card shadow">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        Expense: Add new entry
        <span>
          <a href="{% url 'inventory:NewVendor' %}" class="btn btn-sm btn-info">New Vendor</a>
          <button type="button" class="btn btn-sm close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          <button id="btn_save_details" class="btn btn-sm btn-success">
            Save Details
          </button>
          <a
            href="{% url 'home' %}"
            id="btn_cancel"
            class="btn btn-sm btn-secondary"
          >
            Cancel
          </a>
        </span>
      </div>
    </div>
    <div class="card-body">
        {% crispy form %}
    </div>
</div>

{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
    $(document).ready(function () {

      $("#btn_save_details").click(function() {
        $('#form').submit()
      });

      // $(".btn_modal_trigger").each(function() {
      //   $(this).modalForm({
      //     formURL: $(this).data('form-url')
      //   });
      // });
    
    });
</script>
{% endblock %}