{% extends 'base.html' %}

{% load crispy_forms_tags %}
{{form.media}}

{% block content %}


<div class="card shadow">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        Add New Expense
        <span>
          {% if not vendor_obj %}
          <a href="{% url 'inventory:NewVendor' %}?next={{ request.get_full_path }}" class="btn btn-sm btn-info">New Vendor</a>
          {% endif %}
          <a
            href="javascript: history.go(-1)"
            id="btn_cancel"
          ><span aria-hidden="true">&times;</span>
          </a>
        </span>
      </div>
    </div>
    <div class="card-body">
        {% crispy form %}
    </div>
</div>

{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
    $(document).ready(function () {

      $("#btn_save_details").click(function() {
        $('#form').submit()
      });

      $("#id_vendor").change(function() {
            $("#id_payee").val($("#id_vendor option:selected").text());
        });
      $(".date").datetimepicker({
          format: "YYYY-MM-DD",
      });
      $("#id_invoice_no").focus();
    });
</script>
{% endblock %}