{% load crispy_forms_tags %}
{{form.media}}
<div class="modal-header">
    <h3 class="modal-title">New Expense Entry</h3>
    <span>
        <a href="{% url 'inventory:NewVendor' %}" class="btn btn-sm btn-info">New Vendor</a>
        <button type="button" class="btn btn-sm close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </span>
</div>

<div class="modal-body">
    {% crispy form %}
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>