{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

{% include "_modal.html" %}

<div class="card shadow">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        Expense: Add new entry
        <span>
          <button id="btn_save_details" class="btn btn-sm btn-success">
            Save Details
          </button>
          <a
            href="{% url 'ledger:ExpenseList' %}"
            id="btn_cancel"
            class="btn btn-sm btn-secondary"
          >
            Cancel
          </a>
        </span>
      </div>
    </div>
    <div class="card-body">
        {% crispy form %}
        {{form.media}}
    </div>
</div>

{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#add_vendor_button").modalForm({
            formURL: "{% url 'inventory:NewVendorModal' %}"
        });

        $("#id_vendor").change(function() {
            $("#id_payee").val($("#id_vendor option:selected").text());
        });

      $("#btn_save_details").click(function() {
        $('#form').submit()
      });

      $(".bs-modal").each(function() {
        $(this).modalForm({
          formURL: $(this).data('form-url')
        });
      });
    
    });
</script>
{% endblock %}