.cmm-masthead {
    background-color: #004744;
    color: #eee;
    margin-bottom: 1em;
}

.navbar-nav.navbar-center {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

html, body {
    /* default is 1rem or 16px */
    line-height: 1.1;
    }
     
/* Increase all font sizes on mobile */
@media (max-width: 767px) { 

    html, body {
        /* default is 1rem or 16px */
        font-size: 12px;
    }
     
}