<table class="table table-hover table-sm table-striped">
    <thead>
        <tr>
            <th scope="col">Last updated</th>
            <th scope="col">Invoice date</th>
            <th scope="col">Invoice no.</th>
            <th scope="col">Vendor</th>
            <th scope="col" class="text-right">Amount</th>
            <th scope="col" class="text-center" colspan="2">Status</th>
            <th scope="col" class="text-right">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for delivery_obj in deliveryorder_list %}
        
        <tr>
            <td>{{ delivery_obj.last_updated|date:"d-m-y H:i" }}</td>
            <td>{{ delivery_obj.invoice_date|date:"d-m-y" }}</td>
            <td>{{ delivery_obj.invoice_no }}</td>
            <td>{{ delivery_obj.vendor.name}}</td>
            <td class="text-right">{{ delivery_obj.amount }}</td>
            <td class="text-right">
                {% if delivery_obj.is_paid %}
                <span class="badge badge-success">Paid</span>
                {% elif delivery_obj.amount == 0 %}
                <span class="badge badge-secondary">Sample</span>
                {% else %}
                <span class="badge badge-danger">Due</span>
                {% endif %}
            </td>
            <td class="text-left">
                {% if delivery_obj.cms_synced %}
                <span class="badge badge-success">Synced</span>
                {% else %}
                <span class="badge badge-warning">Unsynced</span>
                {% endif %}
            </td>
            <td class="text-right">
                <a href="{% url 'inventory:DeliveryOrderDetail' delivery_obj.id %}" 
                  class="btn btn-sm btn-info"
                ><i class="fad fa-box-alt"></i>
                </a>
            </td>
        </tr>

        {% endfor %}

    </tbody>
</table>