<!--
    Include Card for Delivery Items
    Requires:
    - deliveryitems_list
-->

{% if deliveryitems_list %}
<div class="card">
    <div class="card-body">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th scope="col">Product name</th>
                    <th scope="col">Permit no.</th>
                    <th scope="col" class="text-center">Quantity</th>
                    <th scope="col" class="text-center">Bonus</th>
                    <th scope="col" class="text-right">Std Cost</th>
                    <th scope="col" class="text-right">Avg Cost</th>
                    <th scope="col" class="text-right">Total</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for listitem in deliveryitems_list %}
                
                <tr>
                    <td>
                        <button
                            class="btn_modal_trigger btn btn-sm btn-link"
                            data-id="{% url 'cmsinv:InventoryItemQuickEditModal' listitem.item.cmsid %}"  
                        >{{ listitem.item.name }}&nbsp;<i class="fad fa-edit"></i>
                        </button>
                    </td>
                    <td>{{ listitem.item.reg_no }}</td>
                    <td class="text-center">
                        {% if listitem.is_sample %}
                        <span class="badge badge-info ml-2 mt-0"
                        >Sample
                        </span>
                        {% else %}
                        {{ listitem.purchase_quantity }}
                        {% endif %}
                    </td>
                    <td class="text-center">{{ listitem.bonus_quantity }}</td>
                    <td class="text-right">$ {{ listitem.standard_cost }}</td>
                    <td class="text-right">$ {{ listitem.average_cost }}</td>
                    <td class="text-right">$ {{ listitem.total_price }}</td>
                    <td class="text-center">
                        <button type="button" class="btn_modal_trigger btn btn-sm btn-info"
                            data-id="{% url 'inventory:DeliveryItemUpdateModal' delivery_id=delivery_obj.id pk=listitem.id %}"
                        ><i class="fad fa-edit"></i>
                        </button> 
                        {% if perms.can_delete_deliveryitem %}
                        <button type="button" 
                            class="btn_modal_trigger btn btn-sm btn-danger"
                            data-id="{% url 'inventory:DeliveryItemDeleteModal' delivery_id=delivery_obj.id pk=listitem.id %}" 
                        ><i class="fad fa-trash"></i>
                        </button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <th colspan="6" class="text-right">
                        Total:
                        {% if list_total != delivery_obj.amount %}
                        <span class="badge badge-danger ml-2 mt-0"
                        >Not matching invoice amount
                        </span>
                        {% endif %}
                    </th>
                    <td class="text-right">{{ list_total }}</td>
                </tr>
    
    
            </tbody>
        </table>

    </div>
</div>
{% else %}
<div class="alert alert-secondary" role="alert">
    No Drug Delivery Items Record 
</div>
{% endif %}
