<div class="card shadow">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        Delivery on {{ delivery_obj.received_date }}
      </div>
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="col-md-2 mb-0">Supplier</div>
        <div class="col-md-6 mb-0">{{ delivery_obj.vendor.name }}</div>
        <div class="col-md-2 mb-0">Received Date</div>
        <div class="col-md-2 mb-0">{{ delivery_obj.received_date}}</div>
      </div>
      <div class="form-row">
        <div class="col-md-2 mb-0">Invoice No.</div>
        <div class="col-md-6 mb-0">{{ delivery_obj.invoice_no }}</div>
        <div class="col-md-2 mb-0">Invoice Date</div>
        <div class="col-md-2 mb-0">{{ delivery_obj.invoice_date }}</div>
      </div>
      <div class="form-row">
        <div class="col-md-2 mb-0">Remarks</div>
        <div class="col-md-6 mb-0">{{ delivery_obj.remarks }}</div>
        <div class="col-md-2 mb-0">Amount&nbsp;
          {% if delivery_obj.is_paid %}
          <span class="badge badge-success">Paid</span>
          {% else %}
          <span class="badge badge-danger">Due</span>
          {% endif %}
        </div>
        <div class="col-md-2 mb-0">${{ delivery_obj.amount}}</div>
      </div>
      <hr>
      {% include 'inventory/_deliveryorder_items.html' %}
   </div>
   
  </div>