{% load humanize %}
<table class="table table-hover table-sm table-striped">
    <thead>
        
        <tr>
            <th scope="col">Invoice date</th>
            <th scope="col">Received date</th>
            <th scope="col" colspan="5" class="text-center bg-secondary text-white">Purchase</th>
            <th scope="col" class="text-right">Action</th>
        </tr>
        <tr>
            <th scope="col" colspan="2"></th>
            <th scope="col" colspan=5">
                <table width="100%">
                    <tr>
                        <th scope="col" width="45%" class="bg-light">Product name</th>
                        <th scope="col" width="10%" class="text-right bg-light">Num+Bonus</th>
                        <th scope="col" width="10%" class="text-right bg-light">Quantity</th>
                        <th scope="col" width="10%" class="text-right bg-light">Std $</th>
                        <th scope="col" width="10%" class="text-right bg-light">Avg $</th>
                        <th scope="col" width="15%" class="text-right bg-light">Total $</th>
                    </tr>
                </table>
            </th>
           
            <th scope="col" colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        {% for listitem in deliveryitem_list %}
        
        <tr>
            <td>{{ listitem.delivery_order.invoice_date|date:"d-m-Y" }}</td>
            <td>{{ listitem.delivery_order.received_date|date:"d-m-Y" }}</td>
            <td colspan="5">
                <table width="100%">
                    <tr>
                        <td width="45%">{{ listitem.item.name }}
                            <br>{{ listitem.items_per_purchase }}&nbsp;
                            {% if listitem.items_unit %}
                            {{ listitem.items_unit }} 
                            {% endif %} / {{ listitem.purchase_unit }}
                        </td>
                        <td width="10%" class="text-monospace text-right">
                            {% if listitem.is_sample %}
                            <span class="badge badge-info ml-2 mt-0"
                            >Sample
                            </span>
                            {% else %}
                                {{ listitem.purchase_quantity|intcomma }}
                                {% if listitem.bonus_quantity %}
                                + {{ listitem.bonus_quantity|intcomma }}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td width="10%" class="text-monospace text-right">
                            {{ listitem.items_quantity|intcomma }}
                        </td>
                        <td width="10%" class="text-monospace text-right">{{ listitem.standard_cost }}</td>
                        <td width="10%" class="text-monospace text-right">{{ listitem.average_cost }}</td>
                        <td width="15%" class="text-monospace text-right">{{ listitem.total_price }}</td>
                    </tr>
                </table>
            </td>
            <td class="text-right">
                <a href="{% url 'inventory:DeliveryOrderDetail' listitem.delivery_order.id %}" 
                  class="btn btn-sm btn-info"
                ><i class="fad fa-file-alt"></i>
                </a>
            </td>
        </tr>

        {% endfor %}

    </tbody>
</table>