{% load humanize %}
<table class="table table-hover table-sm table-striped">
    <thead>
        <tr>
            <th scope="col" width="8%">Invoice Date</th>
            <th scope="col" width="42%" colspan="2" class="bg-light">Product</th>
            <th scope="col" width="8%" class="text-center bg-light">Num+Bonus</th>
            <th scope="col" width="8%" class="text-right bg-light">Unit $</th>
            <th scope="col" width="6%" class="text-right bg-light">Quantity</th>
            <th scope="col" width="8%" class="text-right bg-light">Std $</th>
            <th scope="col" width="8%" class="text-right bg-light">Avg $</th>
            <th scope="col" width="8%" class="text-right bg-light">Total $</th>
            <th scope="col" width="4%" class="text-right"></th>
        </tr>
    </thead>
    <tbody>
        {% for listitem in deliveryitem_list %}
        <tr>
            <td>{{ listitem.delivery_order.invoice_date|date:"d-m-Y" }}</td>
            <td class="text-left" width="35%">
                {% if listitem.item.cmsid %}
                <a 
                    class="btn-link"
                    href="{% url 'cmsinv:InventoryItemDetail' listitem.item.cmsid %}?next={{ request.get_full_path }}">
                    {{ listitem.item.name }}
                </a>
                <button
                    class="btn_modal_trigger btn btn-sm btn-link text-left ml-0 pl-0"
                    data-id="{% url 'cmsinv:InventoryItemQuickEditModal' listitem.item.cmsid %}?next={{ request.get_full_path }}"  
                >&nbsp;<i class="fad fa-edit"></i>
                </button>
                {% else %}
                <a 
                    class="btn-link"
                    href="{% url 'inventory:ItemDetail' listitem.item.id %}?next={{ request.get_full_path }}">
                    {{ listitem.item.name }}
                </a>
                <button
                    class="btn_modal_trigger btn btn-sm btn-link ml-0 pl-0"
                    data-id="{% url 'inventory:ItemUpdateModal' listitem.item.id %}?next={{ request.get_full_path }}"  
                >{{ listitem.item.name }}&nbsp;<i class="fad fa-edit"></i>
                </button>
                {% endif %}
            </td>
            <td class="text-left" width="15%">{{ listitem.items_per_purchase|floatformat }}&nbsp;
                {% if listitem.items_unit %}
                {{ listitem.items_unit }} 
                {% endif %} / {{ listitem.purchase_unit }}
            </td>
            <td class="text-center">
                {% if listitem.is_sample %}
                <span class="badge badge-info ml-2 mt-0"
                >Sample
                </span>
                {% else %}
                    {{ listitem.purchase_quantity|floatformat}}
                    {% if listitem.bonus_quantity %}
                    + {{ listitem.bonus_quantity|floatformat }}
                    {% endif %}
                {% endif %}
            </td>
            <td class="text-right">
                {{ listitem.unit_price }}
            </td>
            <td class="text-right">
                {{ listitem.items_quantity|floatformat }}
                {% if listitem.items_unit %}
                {{ listitem.items_unit|title}}
                {% endif %}
            </td>
            <td class="text-right">{{ listitem.standard_cost }}</td>
            <td class="text-right">{{ listitem.average_cost }}</td>
            <td class="text-right">{{ listitem.total_price }}</td>
            <td class="text-right">
                <a href="{% url 'inventory:DeliveryOrderDetail' listitem.delivery_order.id %}" 
                  class="btn btn-sm btn-info"
                ><i class="fad fa-box-alt"></i>
                </a>
            </td>
        </tr>

        {% endfor %}

    </tbody>
</table>