<div class="card shadow">
  <div class="card-header text-white bg-info">
    <div class="d-flex justify-content-between align-items-center">
      <span>
        <i class="fad fa-box-alt" aria-hidden="true"></i>
        Delivery on {{ delivery_obj.received_date }}
      </span>
      <span>
        {% if perms.ledger.can_view_expense %}
        <a
          href="{% url 'ledger:ExpenseList' %}"
          class="btn btn-sm btn-dark text-white"
        ><i class="fal fa-step-backward"></i>&nbsp;Expenses
        </a>
        {% endif %}
        <a
          href="{% url 'inventory:DeliveryOrderList' %}"
          class="btn btn-sm btn-dark text-white"
        ><i class="fal fa-step-backward"></i>&nbsp;Orders
        </a>
        <a
          href="{% url 'inventory:DeliveryItemList' %}"
          class="btn btn-sm btn-dark text-white"
        ><i class="fal fa-step-backward"></i>&nbsp;Drugs
        </a>
        {% if not delivery_obj.cms_delivery_id and perms.inventory.change_deliveryorder %}
        <button
          class="btn_modal_trigger btn btn-sm btn-light"
          data-id="{% url 'inventory:DeliveryOrderUpdateModal' delivery_obj.id %}"
        >Edit
        </button>
        {% endif %}
       
        {% if delivery_obj.bill %}
        <button
          class="btn_modal_trigger btn btn-sm btn-secondary"
          data-id="{% url 'ledger:DeliveryPaymentModal' delivery_obj.id %}"
        >Bill
        </button>
        {% elif delivery_obj.amount == 0 %}
        <button
          class="btn_modal_trigger btn btn-sm btn-secondary disabled" disabled
          data-id=""
        >Free
        </button> 
        {% else %}
        <button
          class="btn_modal_trigger btn btn-sm btn-secondary"
          data-id="{% url 'ledger:DeliveryPaymentModal' delivery_obj.id %}"
        >Payment
        </button>
        {% endif %}
      </span>
    </div>
  </div>
  <div class="card-body">
    <div class="form-row">
      <div class="col-md-2 mb-0">Supplier</div>
      <div class="col-md-4 mb-0">
        {{ delivery_obj.vendor.name }}
        <a
          class="badge badge-secondary ml-2 mt-0"
          href="{% url 'inventory:NewDeliveryOrder' %}?vendor={{ delivery_obj.vendor.id }}"
        >Add new delivery
        </a>
      </div>
      <div class="col-md-2 mb-0">Received Date</div>
      <div class="col-md-2 mb-0">{{ delivery_obj.received_date|date:'d-m-Y'}}</div>
      <div class="col-md-2 text-right">
        {% if delivery_obj.cms_synced %}
        <span
          class="badge badge-success ml-2 mt-0"
        >Synced with CMS
        </span>
        {% else %}
        <button
          class="btn_modal_trigger badge badge-warning ml-2 mt-0"
          data-id="{% url 'cmsinv:NewDeliveryFromDeliveryOrderModal' delivery_obj.id %}"
        >Push to CMS
        </button>
        {% endif %}
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-2 mb-0">Invoice No.</div>
      <div class="col-md-4 mb-0">{{ delivery_obj.invoice_no }}</div>
      <div class="col-md-2 mb-0">Invoice Date</div>
      <div class="col-md-2 mb-0">{{ delivery_obj.invoice_date|date:'d-m-Y' }}</div>
      <div class="col-md-2 text-right">
        {% if delivery_obj.is_paid %}
        <span class="badge badge-success">Paid</span>
        {% elif delivery_obj.amount == 0 %}
        <span class="badge badge-secondary">Bonus/Free</span>
        {% else %}
        <span class="badge badge-danger">Due</span>
        {% endif %}
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-2 mb-0">Amount&nbsp;
        
      </div>
      <div class="col-md-4 mb-0">$ {{ delivery_obj.amount }}</div>
      <div class="col-md-2 mb-0">Due Date</div>
      <div class="col-md-4 mb-0">{{ delivery_obj.due_date|date:'d-m-Y' }}</div>
    </div>
    <div class="form-row">
      <div class="col-md-2 mb-0">Remarks</div>
      <div class="col-md-4 mb-0">
        {% if delivery_obj.remarks %}
        {{ delivery_obj.remarks }}
        {% else %}-
        {% endif %}
      </div>
      <div class="col-md-2 mb-0">Other Ref</div>
      <div class="col-md-4 mb-0">
        {% if delivery_obj.other_ref %}
        {{ delivery_obj.other_ref }}
        {% else %}-
        {% endif %}
      </div>
    </div>
  </div>
</div>
