<!--
    Include Card for Drug Database Search to Add
    Requires:
    - drug_list
-->
<div class="card">
    <div class="card-header bg-light">
        <div class="d-flex justify-content-between align-items-center">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a 
                  class="nav-link active"
                  href="{% url 'inventory:DeliveryOrderDetail' delivery_id=delivery_obj.id %}"
                >Choose Item to Add
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'inventory:DeliveryOrderList' %}">Back to Delivery Order List</a>
              </li>
            </ul>
        </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <div class="input-group">
            <input class="form-control form-control-sm" id="regno-input" placeholder="Reg no.">
            <div class="input-group-append">
                <div id="search-icon" class="input-group-text"><i class="fas fa-search"></i></div>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="input-group">
            <div class="input-group-prepend">
              <div id="search-icon" class="input-group-text"><i class="fas fa-search"></i></div>
            </div>
            <input class="form-control form-control-sm" id="user-input" placeholder="Search drug by name, ingredient" size="30">
            <div class="input-group-append">
              <a
                href="{% url 'cmsinv:NewInventoryItem' %}?vendor={{ delivery_obj.vendor.id }}&next={{ request.path }}"
                class="btn btn-sm btn-block btn-primary"
              >Add Drug/CMS Item
              </a> 
            </div>
          </div>
        </div><div class="col-5">
          <div class="input-group">
            <div class="input-group-prepend">
                <div id="search-icon" class="input-group-text"><i class="fas fa-search"></i></div>
            </div>
            <input class="form-control form-control-sm" id="item-input" placeholder="Search item/consumable" size="30">
            <div class="input-group-append">
              <a
                href="{% url 'inventory:NewItem' %}?vendor={{ delivery_obj.vendor.id }}&next={{ request.path }}"
                class="btn btn-sm btn-block btn-primary"
              >Add Item
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="search-results">
            {% include 'inventory/_drug_search_results_partial.html' %}
      </div>
    </div>
</div>