<!--
    Include Card for Drug Database Search to Add
    Requires:
    - drug_list
-->
<div class="card">
    <div class="card-header bg-light">
        <div class="d-flex justify-content-between align-items-center">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a 
                  class="nav-link active"
                  href="{% url 'inventory:DeliveryOrderDetail' delivery_id=delivery_obj.id %}"
                >Choose CMS Item to Add
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'inventory:DeliveryOrderList' %}">Back to Delivery Order List</a>
              </li>
            </ul>
        </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <div class="input-group">
            <input class="form-control form-control-sm" id="regno-input" placeholder="Reg no.">
            <div class="input-group-append">
                <div id="search-icon" class="input-group-text"><i class="fas fa-search"></i></div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="input-group">
            <input class="form-control form-control-sm" id="user-input" placeholder="Search by name, alias, ingredient" size="30">
            <div class="input-group-append">
                <div id="search-icon" class="input-group-text"><i class="fas fa-search"></i></div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <a
            href="{% url 'cmsinv:NewInventoryItem' %}"
            class="btn btn-sm btn-block btn-primary"
          >Add Drug/Item
          </a>
        </div>
      </div>
      <div id="search-results">
            {% include 'inventory/_drug_search_results_partial.html' %}
      </div>
    </div>
</div>