{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
  Delivery/Order: {{ delivery_obj.received_date }}
{% endblock %}

{% block content %}

  {% include '_modal.html' %}
  {% include 'inventory/_deliveryorder_summary.html' %}
  
  <div class="card">
        <h5 class="card-header d-flex justify-content-between align-items-center bg-success">Add delivery item: {{ item_obj.name }}</h5>
    <div class="card-body">
      {% if drug_obj %}
      {% include 'cmsinv/_cmsitem_summary_table.html' %} 
      <hr>
      {% endif %}
      <div class="row">
        <div class="col-sm-11">
          {% crispy form %}
        </div>
        <div 
          class="col-sm-1">
          <button 
            id="btn_calc" 
            style="position:absolute; bottom:50px;"
            class="btn btn-secondary"><i class="fad fa-calculator-alt"></i></button>
        </div>
      </div>
    </div>
</div>
  
{% endblock %}

{% block extrascripts %}

{{ delivery_obj.id|json_script:"delivery_id" }}
<script type="text/javascript">
    $(document).ready(function () {
      $('#id_purchase_quantity').val('').focus()
      $(".btn_modal_trigger").each(function() {
        $(this).modalForm({
          formURL: $(this).data('id')
        });
      });
      $('#id_is_sample').on('change', function () {
        if ($('#id_is_sample').is(':checked')) {
          let pquantity = parseInt($('#id_purchase_quantity').val());
          let bquantity = parseInt($('#id_bonus_quantity').val());
          if (pquantity !== 0 && bquantity == 0) {
            $('#id_bonus_quantity').val(pquantity);
          }
          $('#id_purchase_quantity').val('0');
          $('#id_discount').val('1');
        }
      });
      $("#btn_calc").click(function() {
        let purchase = parseFloat($("#id_purchase_quantity").val());
        let bonus = parseFloat($("#id_bonus_quantity").val());
        let itemspp = parseFloat($("#id_items_per_purchase").val());
        let unitprice = parseFloat($("#id_unit_price").val());
        let discount = parseFloat($("#id_discount").val());
        let quantity = (purchase + bonus) * itemspp
        let stdcost = 0
        let avgcost = 0
        let totalcost = purchase * unitprice * (1 - discount)
        if (quantity !== 0) {
          if($('#id_is_sample').is(':checked')) {
            stdcost = (bonus * unitprice) / (bonus * itemspp);
          } else {
            stdcost = totalcost / (purchase * itemspp);
          }
          avgcost = totalcost / quantity; 
        }
        if (isNaN(stdcost)) { stdcost = 0 }
        $('#ds_quantity').text(quantity)
        $('#ds_stdcost').text(stdcost.toFixed(2))
        $('#ds_avgcost').text(avgcost.toFixed(2))
        $('#ds_total').text(totalcost.toFixed(2))
      });
      $("#btn_cancel").click(function() {
        window.history.back()
      })
    });
</script>
{% endblock %}