{% load crispy_forms_tags %}
{{form.media}}

<div class="modal-header">
    <span>
      <h5 class="modal-title">Update Delivery Order</h5>
        {% if object.is_paid %}
        <span class="badge badge-success">Paid on {{object.bill.expected_date}}</span>
        {% else %}
        <span class="badge badge-danger">Due</span>
        {% endif %}
    </span>
    <span>
      <button type="button" class="btn btn-sm btn-warning" id="btn_set_received">Set Received=Invoice Date</button>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </span>
  </div>
  
  <div class="modal-body">
    
    {% crispy form %}
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
    <button type="button" 
      class="btn_modal_trigger btn btn-sm btn-danger"
      data-id="{% url 'inventory:DeliveryOrderDeleteModal' object.pk %}"
    >Delete
    </button>
  </div>

<script type="text/javascript">
$(".btn_modal_trigger").each(function() {
  $(this).modalForm({
    formURL: $(this).data('id')
  });
});
$("#btn_set_received").click(function() {
  $("#id_received_date").val($("#id_invoice_date").val());
});
</script>