{% extends 'base.html' %} 

{% block title %} Delivery/Orders {% endblock %} 

{% block content %} 

{% include "_modal.html" %}

<div class="card shadow">
  <div class="card-header text-white bg-info">
    <div class="d-flex justify-content-between align-items-center">
      <span>
        <i class="fad fa-table" aria-hidden="true"></i>
        Delivery/Orders
      </span>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-10">
        <form action="{% url 'inventory:DeliveryOrderList' %}" method="get">
          <div class="row">
            <div class="col-sm-10">
              <div class="row">
                {% include "_datepicker_from_to.html" %}
              </div>
            </div>
            <div class="col-sm-2 px-1">
              <div class="input-group input-group-sm">
                <select 
                  name="t" 
                  id="inputGroupSelectType" 
                  class="custom-select input-control-sm"
                  >
                  <option value=""
                    default
                  >All</option>
                  <option value="1"
                    {% if disp_type == '1' %} selected {% endif %}
                  >Unsynced
                  </option>
                  <option value="2"
                    {% if disp_type == '2' %} selected {% endif %}
                  >Synced
                  </option>
                  <option value="3"
                    {% if disp_type == '3' %} selected {% endif %}
                  >Due
                  </option>
                  <option value="4"
                    {% if disp_type == '4' %} selected {% endif %}
                  >Paid
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-sm-10">
              <div class="row">
                <div class="col-sm-8">
                  <div class="input-group input-group-sm">
                    <input
                      class="form-control"
                      id="query_input"
                      name="q"
                      value="{{ last_query }}"
                      type="text"
                      placeholder="Search by vendor/supplier/invoice no."
                    />
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-secondary">Search</button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                    {% if is_paginated %}
                    <ul class="pagination pagination-sm">
                      <li class="page-item">
                        <a
                          href="{% url 'inventory:DeliveryOrderList' %}?q={{ last_query }}&t={{ disp_type }}&page=1"
                          class="page-link"
                        >
                          First
                        </a>
                      </li>
                      {% if page_obj.has_previous %}
                      <li class="page-item">
                        <a
                          href="{% url 'inventory:DeliveryOrderList' %}?q={{ last_query }}&t={{ disp_type }}&page={{ page_obj.previous_page_number }}"
                          class="page-link"
                        >
                          {{ page_obj.previous_page_number }}
                        </a>
                      </li>
                      {% endif %}
                      <li class="page-item active">
                        <a
                          href="{% url 'inventory:DeliveryOrderList' %}?q={{ last_query }}&t={{ disp_type }}&page={{ page_obj.number }}"
                          class="page-link"
                        >
                          {{ page_obj.number }}
                        </a>
                      </li>
                      {% if page_obj.has_next %}
                      <li class="page-item">
                        <a
                          href="{% url 'inventory:DeliveryOrderList' %}?q={{ last_query }}&t={{ disp_type }}&page={{ page_obj.next_page_number }}"
                          class="page-link"
                        >
                          {{ page_obj.next_page_number }}
                        </a>
                      </li>
                      {% endif %}
                      <li class="page-item">
                        <a
                          href="{% url 'inventory:DeliveryOrderList' %}?q={{ last_query }}&t={{ disp_type }}&page=last"
                          class="page-link"
                        >
                          Last ({{ page_obj.paginator.num_pages }})
                        </a>
                      </li>
                    </ul>
                  {% endif %}
                </div>
              </div>
              
            </div>
            
            <div class="col-sm-2 px-1">
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-2">
        <div class="row mb-2">
          <div class="col-sm-12">
            <a 
              href="{% url 'inventory:NewDeliveryOrder' %}"
              class="btn btn-sm btn-success btn-block"
            >New Delivery
            </a>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-12">
            <button id="" class="btn btn-sm btn-light btn-block" disabled>Disabled</button>
          </div>
        </div>
      </div>
    </div>
    
    {% if deliveryorder_list %}
    {% include 'inventory/_deliveryorder_list_table.html' %}
    {% else %}
    
    <p>No delivery order in database</p>

    {% endif %}
    
{% endblock %}

{% block extrascripts %}

<script type="text/javascript">
  $(document).ready(function () {
    $("#btn_new_delivery").modalForm({
      formURL: $(this).data('id')
    });
    $("#inputGroupSelectType").change(function() {
      let disptype = $("#inputGroupSelectType option:selected").val();
      self.location = "{% url 'inventory:DeliveryOrderList' %}?q={{ last_query }}&t="
        + disptype;
    });
    // _datepicker_from_to.html scripts
    $('#datepicker_from').datetimepicker({
      format: 'YYYY-MM-DD'
    });
    $('#datepicker_to').datetimepicker({
      format: 'YYYY-MM-DD',
      useCurrent: false
    });
    $("#datepicker_from").on("change.datetimepicker", function (e) {
        $('#datepicker_to').datetimepicker('minDate', e.date);
    });
    $("#datepicker_from").on("change.datetimepicker", function (e) {
        $('#datepickerto').datetimepicker('maxDate', e.date);
    });

    $("#btn-view_last_month").click(function() {
      var today = moment().format("YYYY-MM-DD");
      var oneMonthAgo = moment().subtract(1, 'months').format("YYYY-MM-DD");
      var loadurl = "{% url 'inventory:DeliveryOrderList' %}?begin=" 
        + oneMonthAgo + "&end=" + today;
      window.location = loadurl;
    })
    $("#btn-view_last_3_months").click(function() {
      var today = moment().format("YYYY-MM-DD");
      var threeMonthsAgo = moment().subtract(3, 'months').format("YYYY-MM-DD");
      var loadurl = "{% url 'inventory:DeliveryOrderList' %}?begin=" 
        + threeMonthsAgo + "&end=" + today;
      window.location = loadurl;
    });
    $("#query_input").focus();
  });
</script>

{% endblock %}

