{% extends 'base.html' %}

{% block title %}
  Item: {{ delivery_obj.product_name }}
{% endblock %}

{% block main %}

    <h1>Delivery on {{ delivery_obj.received_date }}</h1>
    <hr>
    <div class="form-row">
        <div class="form-group col-md-8 mb-0">
          <p>Product Name:<br>
            <b>{{ delivery_obj.product_name }}</b></p>
        </div>
        <div class="form-group col-md-4 mb-0">
          <p>Product ID.:<br>
            <b>{{ delivery_obj.id }}</b></p>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          <p>Vendor:<br>
          <b>{{ delivery_obj.vendor }}</b></p>
        </div>
        <div class="form-group col-md-4 mb-0">
          <p>Delivery Date:<br>
          <b>{{ delivery_obj.received_date }}</b></p>
        </div>
        <div class="form-group col-md-4 mb-0">
          <p>Delivery Note No.:<br>
          <b>{{ delivery_obj.delivery_note_no }}</b></p>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          <p>Purchase Quantity:<br>
          <b>{{ delivery_obj.purchase_quantity }}</b></p>
        </div>
        <div class="form-group col-md-4 mb-0">
          <p>Bonus Quantity:<br>
          <b>{{ delivery_obj.bonus_quantity }}</b></p>
        </div>
        <div class="form-group col-md-4 mb-0">
          <p>Purchase Unit:<br>
          <b>{{ delivery_obj.purchase_unit }}</b></p>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          <p>Unit price:<br>
          <b>{{ delivery_obj.unit_price }}</b></p>
        </div>
        <div class="form-group col-md-4 mb-0">
          <p>Discount:<br>
          <b>{{ delivery_obj.discount }}</b></p>
        </div>
        <div class="form-group col-md-4 mb-0">
          <p>Total cost:<br>
          <b>{{ delivery_obj.total_price }}</b></p>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          <p>Items per {{ delivery_obj.purchase_unit }}<br>
          <b>{{ delivery_obj.items_per_purchase }}</b></p>
        </div>
        <div class="form-group col-md-4 mb-0">
          <p>Items unit<br>
          <b>{{ delivery_obj.items_unit }}</b></p>
        </div>
        <div class="form-group col-md-4 mb-0">
          <p>Standard cost/{{ delivery_obj.items_unit }}<br>
          <b>{{ delivery_obj.standard_cost }}</b></p>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          <p>Batch num:<br>
          <b>{{ delivery_obj.batch_num }}</b></p>
        </div>
        <div class="form-group col-md-4 mb-0">
          <p>Expiry Date:<br>
          <b>{{ delivery_obj.expiry_date }}</b></p>
        </div>
        <div class="form-group col-md-4 mb-0">
          <p>Average cost/{{delivery_obj.items_unit }}<br>
          <b>{{ delivery_obj.average_cost }}</b></p>
        </div>    
    </div>
    <div class="form-row">
        <div class="form-group col-md-8 mb-0">
          <p>Other ref:<br>
          <b>{{ delivery_obj.other_ref }}</b></p>
        </div>
        <div class="form-group col-md-4 mb-0">
          <p>Created on:<br>
          <b>{{ delivery_obj.date_created }}</b></p>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8 mb-0">
          <p>Remarks:<br>
          <b>{{ delivery_obj.remark }}</b></p>
        </div>
        <div class="form-group col-md-4 mb-0">
          <p>Last updated:<br>
          <b>{{ delivery_obj.last_updated }}</b></p>
        </div>
    </div>
    <hr>
    <div class="form-row">
      <div class="form-group col-md-8 mb-0">
        <p><a class="btn btn-sm btn-primary" href="{% url 'inventory:ItemDeliveryUpdate' delivery_obj.pk %}">Modify</a></p>
      </div>
      <div class="form-group col-md-4 mb-0">
        <p><a class="btn btn-sm btn-danger" href="{% url 'inventory:ItemDeliveryDelete' delivery_obj.pk %}">Delete</a></p>
      </div>
    </div>
  
{% endblock %}

{% block sidebar %}

{% endblock %}