{% extends 'base.html' %}

{% block content %}

{% include '_modal.html' %}
{% include 'inventory/_item_summary.html' %}
{% include 'drugdb/_regdrug_summary.html' %}
{% include 'cmsinv/_inventory_item_summary.html' %}
{% include 'cmsinv/_deliveryitem_list_table.html' %}

{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
    $(document).ready(function () {

      $(".btn_modal_trigger").each(function () {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });
    });
</script>
{% endblock %}