{% extends 'base.html' %}

{% block content %}
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
  
      </div>
    </div>
  </div>

<div class="card">
    <div class="card-header bg-light">
        <div class="d-flex justify-content-between align-items-center">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="">Choose Drug to Add</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'inventory:ItemList' %}">Back to Item List</a>
              </li>
            </ul>
        </div>
    </div>
    <div class="card-body">
        <div class="col-8">
            <div class="input-group">
                <input class="form-control" id="user-input" placeholder="Search by name, ingredient, registration no." size="50">
                <div class="input-group-text"><i id="search-icon" class="fas fa-search"></i></div>
            </div>
        </div>
        <div id="search-results">
             {% include 'inventory/_drug_search_results_partial.html' %}
        </div>
    </div>
</div>
{% endblock%}

{% block extrascripts %}

<script type="text/javascript">
    $(document).ready(function () {
        
        const user_input = $("#user-input")
        const search_icon = $('#search-icon')
        const results_div = $('#search-results')
        const endpoint = '/inventory/item/selectdrug/'
        const delay_by_in_ms = 300
        let scheduled_function = false

        let ajax_call = function (endpoint, request_parameters) {
            $.getJSON(endpoint, request_parameters)
                .done(response => {
                        // fade-out, then display contents:
                        results_div.fadeTo('fast', 0).promise().then(() => {
                        results_div.html(response['html_from_view'])
                        // fade-in with new contents
                        results_div.fadeTo('fast', 1)
                    })
                })
        }
        // Check for input on document load and execute ajax if not empty
        query = user_input.val()
        if (query) {
            const request_parameters = {
                q: query
            }
            ajax_call(endpoint, request_parameters)
        }

        user_input.on('keyup', function () {
            const request_parameters = {
                q: $(this).val() // value of user_input: the HTML element with ID user-input
            }

            // start animating the search icon with the CSS class
            search_icon.addClass('blink')

            // if scheduled_function is NOT false, cancel the execution of the function
            if (scheduled_function) {
                clearTimeout(scheduled_function)
            }

        // setTimeout returns the ID of the function to be executed
            scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
        }) 
    })
</script>

{% endblock %}