{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Item: {{ object.name }}
{% endblock %}


{% block main %}

  <h1>Item: {{ object.name }}</h1>
  <hr>
  <form method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          <p>Item Name:<br>
            <b>{{ form.name|as_crispy_field }}</b></p>
        </div>
        <div class="form-group col-md-4 mb-0">
          <p>Alias:<br>
            <b>{{ form.alias|as_crispy_field }}</b></p>
        </div>
        <div class="form-group col-md-4 mb-0">
          <p>Item ID.:<br>
            <b>{{ object.id }}</b></p>
        </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8 mb-0">
        <p>Description:<br>
          <b>{{ form.description|as_crispy_field }}</b></p>
      </div>
      <div class="form-group col-md-4 mb-0">
        <p>Category:<br>
          <b>{{ form.category|as_crispy_field }}</b></p>
      </div>
  </div>
    <div class="form-row">
        <div class="form-group col-md-8 mb-0">
          <p>Vendor:<br>
          <b>{{ form.vendor|as_crispy_field }}</b></p>
        </div>
        <div class="form-group col-md-4 mb-0">
          <p>Inventory Type:<br>
          <b>{{ form.inventory_type|as_crispy_field }}</b></p>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          <p>Remarks:<br>
          <b>{{ form.remarks}}</b></p>
        </div>
        <div class="form-group col-md-4 mb-0">
          <p>Updated by:<br>
          <b>{{ form.updated_by }}</b></p>
        </div>
        <div class="form-group col-md-4 mb-0">
          <p>Last updated:<br>
          <b>{{ form.last_updated }}</b></p>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          <p>Active:<br>
          <b>{{ form.active }}</b></p>
        </div>
        <div class="form-group col-md-4 mb-0">
          <p>Version:<br>
          <b>{{ object.version }}</b></p>
        </div>
        <div class="form-group col-md-4 mb-0">
          <p>Date created:<br>
          <b>{{ object.date_created }}</b></p>
        </div>
      </div>
      <hr>
      <div class="form-row">
        <div class="form-group col-md-8 mb-0">
          <input class="btn btn-sm btn-primary" type="submit" value="Submit">
          <a class="btn btn-sm btn-secondary" href="{% url 'inventory:ItemDetail' object.pk %}">Cancel</a>
        </div>
        <div class="form-group col-md-4 mb-0">
          <a class="btn btn-sm btn-danger" href="{% url 'inventory:ItemDelete' object.pk %}">Delete</a>
        </div>
      </div>
    </div>
  </form>

{% endblock %}

{% block sidebar %}

{% endblock %}