{% extends 'base.html' %}

{% block title %}
  Inventory Items
{% endblock %}

{% block content %}

{% include "_modal.html" %}

<div class="card shadow">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
      <ul class="nav nav-tabs card-header-tabs">
        {% if disp_type == '2' %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'inventory:ItemList' %}?t=1">Drug Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#"><i class="fa fa-table" aria-hidden="true"></i>&nbsp;Consumable Items</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link active" href="#"><i class="fa fa-table" aria-hidden="true"></i>&nbsp;Drug Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'inventory:ItemList' %}?t=2">Consumable Items</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link disabled" href="#">All</a>
        </li>
      </ul>
      {% if perms.inventory.can_add_item %}
      <a href="{% url 'inventory:ItemSelectDrugView' %}" id="btn_add-item" class="btn btn-sm btn-primary">Add New Drug Item</a>
      {% endif %}
    </div>
    </div>
    <div class="card-body">
  
    <nav class="row">
        <div class="col-4">
            <form action="{% url 'inventory:ItemList' %}" method="get">
                <input class="form-control" name="q" type="text" placeholder="Search by Name" />
            </form>
        </div>
        <div class="col-4">
            {% if last_query %}
            Results for "{{ last_query }}" ({{ last_query_count }})
            {% endif %}
        </div>
        <div class="col-4">
            {% if is_paginated %}
        
            <ul class="pagination">
                <li class="page-item">
                    <a href="{% url 'inventory:ItemList' %}?q={{ last_query }}&page=1"
                    class="page-link">
                        First
                    </a>
                </li>
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="{% url 'inventory:ItemList' %}?q={{ last_query }}&page={{ page_obj.previous_page_number }}" 
                    class="page-link">
                        {{ page_obj.previous_page_number }}
                    </a>
                </li>
                {% endif %}
                <li class="page-item active">
                    <a href="{% url 'inventory:ItemList' %}?q={{ last_query }}&page={{ page_obj.number }}" 
                    class="page-link">
                        {{ page_obj.number }}
                    </a>
                </li>
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="{% url 'inventory:ItemList' %}?q={{ last_query }}&page={{ page_obj.next_page_number }}" 
                    class="page-link">
                        {{ page_obj.next_page_number }}
                    </a>
                </li>
                {% endif %}
                <li class="page-item">
                    <a href="{% url 'inventory:ItemList' %}?q={{ last_query }}&page=last"
                    class="page-link">
                        Last ({{ page_obj.paginator.num_pages }}) 
                    </a>
                </li>
            </ul>
        {% endif %}    
        </div>
    </nav>

    {% if item_list %}
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th scope="col">Reg No.</th>
                <th scope="col">CMS ID</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item_obj in item_list %}
            
            <tr
                {% if not item_obj.is_active %}
                class="table-secondary text-muted"
                {% endif %}
            >
                <td>{{ item_obj.reg_no }}</td>
                <td>{{ item_obj.cmsid }}</td>
                <td>{{ item_obj.name }}</td>
                <td>{{ item_obj.item_type.name }}
                    <br>
                    {% if not item_obj.is_active %}
                    <span class="badge badge-secondary">Inactive</span>
                    {% endif %}
                </td>
                <td>
                    <button
                        type="button"
                        class="btn_item-update btn btn-sm btn-primary"
                        data-id="{% url 'inventory:ItemUpdateModal' item_obj.pk %}"
                    ><i class="fad fa-file-alt"></i>
                    </button>
                </td>
            </tr>

            {% endfor %}

        </tbody>
    </table>

    {% else %}
    
    <div class="alert alert-secondary" role="alert">
        No Inventory Items 
    </div>

    {% endif %}
    </div>
</div>
{% endblock %}

{% block extrascripts %}

<script type="text/javascript">
  $(document).ready(function () {
    $(".btn_item_update").each(function() {
       $(this).modalForm({
           formURL: $(this).data('id')
       });
    });
  });
</script>

{% endblock %}

