{% extends 'base.html' %}

{% block title %}
  Item List
{% endblock %}

{% block content %}

{% include "_modal.html" %}

<div class="card shadow">
    <div class="card-header text-white bg-info">
        <div class="d-flex justify-content-between align-items-center">
          <span>
            <i class="fad fa-table" aria-hidden="true"></i>
             Item List
          </span>
        </div>
    </div>
    <div class="card-body">
      <form action="{% url 'inventory:ItemList' %}" method="get">
        <div class="row mb-2">
          <div class="col-sm-3">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <label 
                  for="inputGroupSelectType" 
                  class="input-group-text"
                  >Type
                </label>
              </div>
              <select 
                name="t" 
                id="inputGroupSelectType" 
                class="custom-select"
                >
                <option value="" default 
                  {% if item_type == '' %} selected {% endif %}
                >Any</option>
                <option value="1"
                  {% if item_type == '1' %} selected {% endif %}
                >Drugs</option>
                <option value="2"
                  {% if item_type == '2' %} selected {% endif %}
                >Consumables</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <label
                  class="input-group-text input-group-sm"
                  for="inputGroupSelectStatus"
                  >Status</label
                >
              </div>
              <select
                name="s"
                class="custom-select input-group-sm"
                id="inputGroupSelectStatus"
              >
                <option value="" default
                  {% if status == '' %} selected {% endif %}
                >Any</option>
                <option value="1"
                  {% if status == '1' %} selected {% endif %}
                >Active</option>
                <option value="2"
                  {% if status == '2' %} selected {% endif %}
                >Inactive</option>
              </select>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <label
                  class="input-group-text input-group-sm"
                  for="inputGroupSelectCategory"
                  >Category</label
                >
              </div>
              <select
                name="c"
                class="custom-select input-group-sm"
                id="inputGroupSelectCategory"
              >
                <option value="" default 
                {% if category == '' %} selected {% endif %}
                >Any</option>
                <option value="1"
                  {% if category == '1' %} selected {% endif %}
                >1|Drug</option>
                <option value="2"
                  {% if category == '2' %} selected {% endif %}
                >2|Supplement</option>
                <option value="3"
                  {% if category == '3' %} selected {% endif %}
                >3|Consumable</option>
              </select>
            </div>
          </div>
          <div class="col-sm-2">
            <a
              href=""
              id="btn_new_delivery"
              class="btn btn-sm btn-secondary btn-block"
              >New Delivery</a
            >
          </div>
          <div class="col-sm-2">
            <a href="{% url 'inventory:NewItem' %}?next={{ request.path }}" id="btn_new_item" class="btn btn-sm btn-success btn-block"
              >New Item
            </a>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-4">
            <div class="input-group input-group-sm">
              <input
                class="form-control"
                name="q"
                value="{{ last_query }}"
                type="text"
                placeholder="Search by name, ingredients, reg_no"
              />
              <div class="input-group-append">
                <button class="btn btn-sm btn-secondary">Search</button>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            {% if is_paginated %}
            <ul class="pagination">
              <li class="page-item">
                  <a href="{% url 'inventory:ItemList' %}?t={{ item_type }}&s={{ status }}&c={{ category }}&q={{ last_query }}&page=1"
                  class="page-link">
                      First
                  </a>
              </li>
              {% if page_obj.has_previous %}
              <li class="page-item">
                  <a href="{% url 'inventory:ItemList' %}?t={{ item_type }}&s={{ status }}&c={{ category }}&q={{ last_query }}&page={{ page_obj.previous_page_number }}" 
                  class="page-link">
                      {{ page_obj.previous_page_number }}
                  </a>
              </li>
              {% endif %}
              <li class="page-item active">
                  <a href="{% url 'inventory:ItemList' %}?t={{ item_type }}&s={{ status }}&c={{ category }}&q={{ last_query }}&page={{ page_obj.number }}" 
                  class="page-link">
                      {{ page_obj.number }}
                  </a>
              </li>
              {% if page_obj.has_next %}
              <li class="page-item">
                  <a href="{% url 'inventory:ItemList' %}?t={{ item_type }}&s={{ status }}&c={{ category }}&q={{ last_query }}&page={{ page_obj.next_page_number }}" 
                  class="page-link">
                      {{ page_obj.next_page_number }}
                  </a>
              </li>
              {% endif %}
              <li class="page-item">
                  <a href="{% url 'inventory:ItemList' %}?q={{ last_query }}&page=last"
                  class="page-link">
                      Last ({{ page_obj.paginator.num_pages }}) 
                  </a>
              </li>
          </ul>
            {% endif %}
          </div>
          <div class="col-sm-2">
            <button id="btn-export_excel" class="btn btn-sm btn-info btn-block">
             Disabled 
            </button>
          </div>
        </div>
      </form>
  
    {% if item_list %}
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Note</th>
                <th scope="col">Type</th>
                <th scope="col">Reg No.</th>
                <th scope="col">CMS ID</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item_obj in item_list %}
            
            <tr
                {% if not item_obj.is_active %}
                class="table-secondary text-muted"
                {% endif %}
            >
                <td>
                  <button
                        type="button"
                        class="btn_modal_trigger btn btn-sm btn-link text-left"
                        data-id="{% url 'inventory:ItemUpdateModal' item_obj.pk %}"
                    >{{ item_obj.name }}&nbsp;<i class="fad fa-edit"></i>
                    </button>
                </td>
                <td>{{ item_obj.note }}</td>
                <td>{{ item_obj.item_type.name}}
                    {% if not item_obj.is_active %}
                    <span class="badge badge-secondary">Inactive</span>
                    {% endif %}
                </td>
                <td>{{ item_obj.reg_no }}</td>
                <td>{{ item_obj.cmsid }}</td>
                <td>
                  <a 
                    class="btn btn-sm btn-info"
                    href="{% url 'inventory:ItemDetail' item_obj.pk %}">
                  ><i class="fad fa-file"></i>
                 </a>   
                </td>
            </tr>

            {% endfor %}

        </tbody>
    </table>

    {% else %}
    
    <div class="alert alert-secondary" role="alert">
        No Inventory Items 
    </div>

    {% endif %}
    </div>
</div>
{% endblock %}

{% block extrascripts %}

<script type="text/javascript">
  $(document).ready(function () {
    $(".btn_modal_trigger").each(function() {
       $(this).modalForm({
           formURL: $(this).data('id')
       });
    });
    const optionUpdatePage = function() {
      let invtype = $("#inputGroupSelectType option:selected").val();
      let status =  $("#inputGroupSelectStatus option:selected").val();
      let dd = $("#inputGroupSelectCategory option:selected").val();
      self.location = "{% url 'inventory:ItemList' %}?q={{ last_query }}&t="
        + invtype + "&s=" + status + "&c=" + dd;
    }
    $("#inputGroupSelectType").change(function() {
      optionUpdatePage();
    });

    $("#inputGroupSelectStatus").change(function() {
      optionUpdatePage();
    });

    $("#inputGroupSelectCategory").change(function() {
      optionUpdatePage();
    });
  });
</script>

{% endblock %}

