{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="card shadow">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        Add New Delivery/Order 
        <span>
          <a href="{% url 'inventory:NewVendor' %}" class="btn btn-sm btn-info">New Vendor</a>
          <button type="button" class="btn btn-sm btn-warning" id="btn_set_received">
            Received=Invoice
          </button>
          <button class="btn btn-sm btn-warning" type="button" id="btn_due1m">
            Due=+1m
          </button>
          <button id="btn_save_details" class="btn btn-sm btn-primary">
            Save
          </button>
          <a
            href="javascript: history.go(-1)"
            id="btn_cancel"
            class="btn btn-sm btn-secondary"
          >
            Cancel
          </a>
        </span>
      </div>
    </div>
    <div class="card-body">
        {% crispy form %}
    </div>
</div>

{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
  $(document).ready(function () {
    $("#btn_set_received").click(function() {
      $("#id_received_date").val($("#id_invoice_date").val());
    });
    $("#btn_due1m").click(function() {
      var invDate = $("#id_invoice_date").val();
      var due1m = moment(invDate).add(1, 'months').format("YYYY-MM-DD");
      $("#id_due_date").val(due1m)
    });
    $("#btn_save_details").click(function() {
        $("#id-DeliveryOrderForm").submit();
      });
    $("#id_invoice_no.textinput").focus();
  });
</script>

{% endblock %}
