{% extends 'base.html' %} 

{% block title %} Bill {% endblock %}
  
{% block content %}

<div class="card shadow">
  <div class="card-header text-white bg-info">
    <div class="d-flex justify-content-between align-items-center">
      <span>
        <i class="fad fa-table" aria-hidden="true"></i>
        Bill
      </span>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-10">
        <form action="{% url 'cmsacc:BillToday' %}" method="get">
          <div class="row mb-2">
            <div class="col-sm-2">
              <div class="input-group input-group-sm">
                <select 
                    name="d" 
                    id="inputGroupSelectDay" 
                    class="custom-select"
                    >
                    <option value=""
                    {% if day == '' %} selected {% endif %}
                    >Today</option>
                    <option value="1"
                    {% if day == '1' %} selected {% endif %}
                    >{{ lastdate }}</option>
                </select>
              </div>
          </div>
            <div class="col-sm-2">
                <div class="input-group input-group-sm">
                  <select 
                      name="p" 
                      id="inputGroupSelectPeriod" 
                      class="custom-select"
                      >
                      <option value="a"
                      {% if period == 'a' %} selected {% endif %}
                      >AM session</option>
                      <option value="p"
                      {% if period == 'p' %} selected {% endif %}
                      >PM session</option>
                      <option value="x"
                      {% if period == 'x' %} selected {% endif %}
                      >Any</option>
                  </select>
                </div>
            </div>
            <div class="col-sm-8 pt-1">
              {% if session_stats.count %}
              Session patient count: <strong>{{ session_stats.count }}</strong>, 
              billed amount: <strong>$ {{ session_stats.sumtotal }}</strong>
              {% endif %}
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-2">
      </div>
    </div>

    <div class="row">

      <div class="col-sm-12">
      {% if bill_obj_list %}

      <table class="table table-hover table-sm table-striped">
        <thead>
          <tr>
            <th scope="col">Encounter date</th>
            <th scope="col">Bill date</th>
            <th scope="col" class="text-right">Patient No.</th>
            <th scope="col" class="text-right">Total amount</th>
            <th scope="col" class="text-right">Unbalance amount</th>
            <th scope="col">Doctor</th>
            <th scope="col">Updated by</th>
            <th scope="col">Remarks</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in bill_obj_list %}
  
          <tr>
            <td>{{ entry.encounter.date_created|date:"d-m-y H:i"}}</td>
            <td>{{ entry.last_updated|date:"d-m-y H:i" }}</td>
            <td class="text-right">{{ entry.encounter.patient.patient_no }}</td>
            <td class="text-right">{{ entry.total }}</td>
            <td class="text-right">{{ entry.unbalance_amt }}</td>
            <td>{{ entry.encounter.doctor.name }}</td>
            <td>{{ entry.updated_by }}</td>
            <td>
              {% if entry.remarks %}
              {{ entry.remarks }}
              {% else %}-
              {% endif %}
            </td>
          </tr>
  
          {% endfor %}
          <tr>
            <td colspan="3" class="text-right"><strong>Patients in session: {{ session_stats.count }}</strong></td>
            <td class="text-right"><strong>Sum total: {{ session_stats.sumtotal }}</strong></td>
            <td colspan="4"></td>
          </tr>
        </tbody>
      </table>
      {% else %}
      <div class="alert alert-secondary" role="alert">
        No data 
      </div>
      
      {% endif %}
      </div>
    </div>

   
  </div>
</div>

{% endblock %} 

{% block extrascripts %}

<script type="text/javascript">
  $(document).ready(function () {
    $("#inputGroupSelectDay").change(function() {
      let day = $("#inputGroupSelectDay option:selected").val();
      self.location = "{% url 'cmsacc:BillToday' %}?d=" + day + "&p={{period}}";
    });
    $("#inputGroupSelectPeriod").change(function() {
      let period = $("#inputGroupSelectPeriod option:selected").val();
      self.location = "{% url 'cmsacc:BillToday' %}?d={{ day }}&p="
        + period;
    });

  });
</script>
{% endblock %}
