{% extends 'base.html' %} 

{% block title %} Billing & Payments{% endblock %}

{% load tz %}
{% block content %}

<div class="card shadow">
  <div class="card-header text-white bg-info">
    <div class="d-flex justify-content-between align-items-center">
      <span>
        <i class="fad fa-table" aria-hidden="true"></i>
        Billing and Payments
      </span>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-10">
        <form action="{% url 'cmsacc:PaymentToday' %}" method="get">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="form-group">
                <div class="input-group input-group-sm date" id="datepicker_date" data-target-input="nearest">
                  <div class="input-group-prepend">
                    <div class="input-group input-group-sm">
                      <select 
                          name="d" 
                          id="inputGroupSelectDay" 
                          class="custom-select"
                          >
                          <option value=""
                          {% if day == '' %} selected {% endif %}
                          >Today</option>
                          <option value="1"
                          {% if day == '1' %} selected {% endif %}
                          >Previous day</option>
                          {% if day == '2' %}
                          <option value="2" 
                          selected 
                          >Specified:
                          </option>
                          {% endif %}
                      </select>
                    </div>
                  </div>
                  <input type="text" 
                          class="form-control form-control-sm datetimepicker-input"
                          data-target="#datepicker_date"
                          placeholder="DD-MM-YYYY"
                          value="{{dispdate}}"
                          name="dispdate"
                  >
                  <div class="input-group-append" data-target="#datepicker_date" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
                <div class="input-group input-group-sm">
                  <select 
                      name="p" 
                      id="inputGroupSelectPeriod" 
                      class="custom-select"
                      >
                      <option value="a"
                      {% if period == 'a' %} selected {% endif %}
                      >AM session</option>
                      <option value="p"
                      {% if period == 'p' %} selected {% endif %}
                      >PM session</option>
                      <option value="x"
                      {% if period == 'x' %} selected {% endif %}
                      >Any</option>
                  </select>
                </div>
            </div>
            <div class="col-sm-6 pt-1">
              {% if session_stats.count %}
              Session patient count: <strong>{{ session_stats.count }}</strong>,
              Total billed: <strong>$
                {% if session_stats.bill_total %}{{ session_stats.bill_total }}{% else %}0.0{% endif %}</strong>
              {% endif %}
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-2">
      </div>
    </div>

    <div class="row">

      <div class="col-sm-12">
      {% if payment_list %}

      <table class="table table-hover table-sm table-striped">
        <thead>
          <tr>
            <th scope="col">Timestamp</th>
            <th scope="col" class="text-center">Patient No.</th>
            <th scope="col" class="text-right">Billed Amt</th>
            <th scope="col" class="text-right">Unbalanced Amt</th>
            <th scope="col" class="text-right">Cash Payment</th>
            <th scope="col" class="text-right">Other Payment</th>
            <th scope="col" class="text-center">Method</th>
            <th scope="col" class="text-center">Doctor</th>
            <th scope="col" class="text-center">Updated by</th>
            <th scope="col">Remarks</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in payment_list %}
  
          <tr>
            <td>{{ entry.bill.date_created_conv|date:"d-m-y H:i" }}</td>
            <td class="text-center">{{ entry.bill.encounter.patient.patient_no }}</td>
            <td class="text-right">{{ entry.bill.total }}</td>
            <td class="text-right">
              {% if entry.bill.unbalance_amt %}
              <strong>*{{ entry.unbalance_amt }}</strong>
              {% else %}-
              {% endif %}
            </td>
            {% if entry.payment_method.payment_method == 'Cash' %}
            <td class="text-right">
             {{ entry.paid_amt }}
            </td>
            <td class="text-right">-</td>
            {% else %}
            <td class="text-right">-</td>
            <td class="text-right">
              {{ entry.paid_amt }}
            </td>
            {% endif %}
            <td class="text-center">
              {% if entry.payment_method.payment_method == 'Health Care Voucher' %}
              HCV
              {% else %}
              {{ entry.payment_method.payment_method }}
              {% endif %}
            </td>
            <td class="text-center">{{ entry.bill.encounter.doctor.name }}</td>
            <td class="text-center">{{ entry.updated_by }}</td>
            <td>
              {% if entry.remark %}
              {{ entry.remark }}
              {% else %}-
              {% endif %}
            </td>
          </tr>
  
          {% endfor %}
          <tr>
            <td colspan="2" class="text-left"><strong>Patients: {{ session_stats.count }}</strong></td>
            <td class="text-right"><strong>{{ session_stats.bill_total }}</strong></td>
            <td class="text-right"><strong>{{ session_stats.unbalance_total }}</strong></td>
            <td class="text-right"><strong>{{ session_stats.cash_total }}</strong></td>
            <td class="text-right"><strong>{{ session_stats.other_total }}</strong></td>
          </tr>
        </tbody>
      </table>
      {% else %}
      <div class="alert alert-secondary" role="alert">
        No data 
      </div>
      
      {% endif %}
      </div>
    </div>

   
  </div>
</div>

{% endblock %} 

{% block extrascripts %}

<script type="text/javascript">
  $(document).ready(function () {
    $("#inputGroupSelectDay").change(function() {
      let day = $("#inputGroupSelectDay option:selected").val();
      if (day !== '2') {
        self.location = "{% url 'cmsacc:PaymentToday' %}?d=" + day + "&p={{period}}";
      }
    });
    $("#inputGroupSelectPeriod").change(function() {
      let dispdate = $(".datetimepicker-input").val();
      let period = $("#inputGroupSelectPeriod option:selected").val();
      self.location = "{% url 'cmsacc:PaymentToday' %}?d={{ day }}" + "&dt=" + dispdate + "&p="
        + period;
    });
    let day = $("#inputGroupSelectDay option:selected").val();
    if (day == '') {
      setInterval(function() {
        window.location = window.location.href;
      }, 30000);
    }
    $('#datepicker_date').datetimepicker({
      format: 'DD-MM-YYYY'
    });
    $("#datepicker_date").on("hide.datetimepicker", function (e) {
        let dispdate = $(".datetimepicker-input").val();

        if (dispdate !== '') {
          self.location = "{% url 'cmsacc:PaymentToday' %}?d=2&dt=" + dispdate + "&p={{period}}";
        }
    });
  });

</script>
{% endblock %}
