<table class="table table-sm table-striped">
    <thead>
      <tr>
          <th scope="col">Ref no.</th>
          <th scope="col">Alias/CertHolder</th>
          <th scope="col">Product/Label</th>
          <th scope="col">Generic/Ingredients</th>
          <th scope="col" class="text-right">Stock Qty</th>
          <th scope="col" class="text-right">Std Cost (Avg)</th>
          <th scope="col" class="text-center"></th>
      </tr>
  </thead>
  <tbody>
      <tr 
          {% if cmsitem_obj.discontinue %}
          class="table-secondary text-muted"
          {% endif %}
      >
          <td><b>{{ cmsitem_obj.registration_no }}</b>
              {% if cmsitem_obj.discontinue %}
              <br><span class="badge badge-secondary">Inactive</span>
              {% else %}
              <br>{{ cmsitem_obj.clinic_drug_no }}
          </td>
              {% endif %}
          <td>
              <b>{{ cmsitem_obj.alias }}</b>
              <br>{{ cmsitem_obj.certificate_holder }}
          </td>
          <td><b>{{ cmsitem_obj.product_name }}</b>
          <br>{{ cmsitem_obj.label_name }}</td>
          <td>
              <b>{{ cmsitem_obj.generic_name }}</b>
              <br>{{ cmsitem_obj.ingredient }}
          </td>
          <td class="text-right">
              {{ cmsitem_obj.stock_qty }}
          </td>
          <td class="text-right">
              {{ cmsitem_obj.standard_cost }} ({{ cmsitem_obj.avg_cost}})
          </td>
          <td class="item-action-cell text-right">
                <button 
                  type="button" 
                  {% if cmsitem_obj.registration_no %}
                      class="show-item-details btn_modal_trigger btn btn-link"
                  {% else %}
                      class="show-item-details btn_modal_trigger btn btn-sm btn-danger"
                  {% endif %}
                  data-id="{% url 'cmsinv:InventoryItemDetailModal' cmsitem_obj.pk %}"
                  ><i class="fad fa-file"></i>
                </button>
          </td>
      </tr>
  </tbody>
  </table>