{% load humanize %}

{% if deliveryitem_obj_list %}
<div class="card mb-2">
    <div class="card-header d-flex justify-content-between align-items-center">
        Recent Delivery Records
    </div>
    <div class="card-body">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th scope="col">Date received</th>
                    <th scope="col">Purchased+Bonus</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Expiry Date</th>
                    <th scope="col" class="text-center">Std (Avg) Cost</th>
                    <th scope="col" class="text-right">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in deliveryitem_obj_list %}
                <tr>
                    <td>{{ item.delivery_order.received_date|date:'d-m-Y' }}</td>
                    <td>
                        {% if item.is_sample %}
                        <span class="badge badge-info ml-2 mt-0"
                        >Sample
                        </span>
                        {% else %}
                            {{ item.purchase_quantity|floatformat}}
                            {% if item.bonus_quantity %}
                            + {{ item.bonus_quantity|floatformat }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{{ item.unit_price|intcomma }} / {{ item.purchase_unit }} of {{ item.items_per_purchase|floatformat }} {{ item.items_unit }}</td>
                    <td>{{ item.expiry_date|date:'d-m-Y'}}</td>
                    <td class="text-center">${{ item.standard_cost}} ( ${{ item.average_cost }} )</td>
                    <td class="text-right">
                        <button 
                            data-id="{% url 'inventory:DeliveryItemUpdateModal' item.delivery_order.pk item.pk %}" 
                            class="btn_modal_trigger btn btn-sm btn-primary">
                            <i class="fad fa-file-edit"></i>
                    </button>
                        <a
                          class="btn_modal_trigger btn btn-sm btn-info"
                          href="{% url 'inventory:DeliveryOrderDetail' item.delivery_order.pk %}"
                        ><i class="fad fa-file"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}

<div class="alert alert-warning d-flex justify-content-between align-items-center" role="alert">
  No drug delivery record
</div>

{% endif %}
