<!--
Include View for inventory item, registered drug, drug delivery match
Requires the following parameters:
- item_obj
- drug_obj
- deliveryitem_obj_list
-->
{% load humanize %}

{% if item_obj %}
<div class="card shadow mb-2">
    <div class="card-header d-flex justify-content-between align-items-center
                bg-light">
      <span>
        <i class="fad fa-prescription-bottle-alt"></i>&nbsp;CMS Inventory Item
        {% if item_obj.registration_no %}
        &nbsp;
        [Permit No.: 
        <a 
          href="{% url 'cmsinv:MatchInventoryItemList' item_obj.registration_no %}"
          class="btn-link"
        >{{ item_obj.registration_no }}
        </a>
        ]
        {% endif %}
        {% if item_obj.discontinue %}
        &nbsp;<span class="badge badge-danger">Inactive</span>
        {% endif %}
      </span>
      <span>
        <a href="{% url 'cmsinv:InventoryItemUpdate' item_obj.pk %}" class="btn btn-sm btn-secondary text-white"> Edit </a>
      </span>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                Product Name
            </div>
            <div class="col-md-6">
                {{ item_obj.product_name }}
            </div>
            <div class="col-md-2">
                Clinic No.
            </div>
            <div class="col-md-2">
                {{ item_obj.clinic_drug_no }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Generic Name
            </div>
            <div class="col-md-6">
                {{ item_obj.generic_name }}
            </div>
            <div class="col-md-2">
                Stock Quantity
            </div>
            <div class="col-md-2">
                {{ item_obj.stock_qty }}
            </div>

        </div>
        <div class="row">
            <div class="col-md-2">
                Alias
            </div>
            <div class="col-md-6">
                {{ item_obj.alias }}
            </div>
            <div class="col-md-2">
                Standard Cost
            </div>
            <div class="col-md-2">
                {{ item_obj.standard_cost }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Cert. Holder
            </div>
            <div class="col-md-6">
                {{ item_obj.certificate_holder.name }}
            </div>
            <div class="col-md-2">
                Unit Price
            </div>
            <div class="col-md-2">
                {{ item_obj.unit_price }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Ingredients
            </div>
            <div class="col-md-10">
                {{ item_obj.ingredient }}
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-danger" role="alert">
    No CMS inventory item matching Permit No.
    <a
        href="{% url 'inventory:DeliveryItemList' %}?regno={{ drug_obj.reg_no }}"
        class="btn btn-sm btn-primary"
    >Push to CMS
    </a>
</div>
{% endif %}

{% if deliveryitem_obj_list %}
<div class="card mb-2">
    <div class="card-header d-flex justify-content-between align-items-center">
        Recent Delivery Records
    </div>
    <div class="card-body">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th scope="col">Date received</th>
                    <th scope="col">Purchased+Bonus</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Expiry Date</th>
                    <th scope="col">Average Cost</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in deliveryitem_obj_list %}
                <tr>
                    <td>{{ item.delivery_order.received_date|date:'d-m-Y' }}</td>
                    <td>
                        {% if item.is_sample %}
                        <span class="badge badge-info ml-2 mt-0"
                        >Sample
                        </span>
                        {% else %}
                            {{ item.purchase_quantity|intcomma }}
                            {% if item.bonus_quantity %}
                            + {{ item.bonus_quantity|intcomma }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{{ item.unit_price }} / {{ item.purchase_unit }} of {{ item.items_per_purchase }} {{ item.items_unit }}</td>
                    <td>{{ item.expiry_date|date:'d-m-Y'}}</td>
                    <td> ${{ item.average_cost }}</td>
                    <td>
                        <button 
                            data-id="{% url 'inventory:DeliveryItemUpdateModal' item.delivery_order.pk item.pk %}" 
                            class="btn_modal_trigger btn btn-sm btn-primary">
                            <i class="fad fa-file-alt"></i>
                    </button>
                        <button type="button" class="btn btn-sm btn-info"><i
                            class="fad fa-file-import"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}

<div class="alert alert-warning d-flex justify-content-between align-items-center" role="alert">
  <span>No drug delivery record</span>
  {% if drug_obj %}
    <a href="#" class="btn btn-sm btn-secondary">
      Add drug delivery
    </a>
  {% endif %}
</div>
{% endif %}
