<!--
    Include Table for List of matching CMS Inventory Items
    Requires:
    - match_item_list_obj
-->
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th scope="col">Ref no.</th>
            <th scope="col">Alias/CertHolder</th>
            <th scope="col">Product/Ingredients</th>
            <th scope="col">Label/Generic</th>
            <th scope="col">Stock Qty</th>
            <th scope="col">Cost</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in match_item_list_obj %}
        
        <tr 
            {% if item.discontinue %}
            class="table-secondary text-muted"
            {% endif %}
        >
            <td><b>{{ item.registration_no }}</b>
                {% if item.discontinue %}
                <br><span class="badge badge-secondary">Inactive</span>
                {% else %}
                <br>{{ item.clinic_drug_no }}
            </td>
                {% endif %}
            <td>
                <b>{{ item.alias }}</b>
                <br>{{ item.certificate_holder }}
            </td>
            <td><b>{{ item.product_name }}</b>
            <br>{{ item.ingredient }}</td>
            <td>
                <b>{{ item.label_name }}</b>
                <br>{{ item.generic_name }}
            </td>
            <td>
                {{ item.stock_qty }}
            </td>
            <td>
                {{ item.standard_cost }}
            </td>
            <td class="item-action-cell">
                <button 
                    type="button" 
                    {% if item.registration_no %}
                        class="show-item-details btn btn-link"
                    {% else %}
                        <button type="button" class="show-item-details btn btn-sm btn-danger"
                    {% endif %}
                    data-id="{% url 'cmsinv:InventoryItemModalDetail' item.pk %}"
                    ><i class="fad fa-file"></i></button>
                <button
                  class="btn_quickedit btn btn-link"
                  data-id="{% url 'cmsinv:InventoryItemQuickEditModal' item.pk %}"  
                ><i class="fad fa-edit"></i>
                </button>
            </td>
        </tr>

        {% endfor %}

    </tbody>
</table>

{% block extrascripts %}

{% endblock %}