<!--
    Include Table for List of matching CMS Inventory Items
    Requires:
    - match_item_list_obj
-->
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th scope="col" width="10%">Ref no.</th>
            <th scope="col" width="20%">Alias/CertHolder</th>
            <th scope="col" width="20%">Product/Label</th>
            <th scope="col" width="26%">Generic/Ingredients</th>
            <th scope="col" width="8%" class="text-center">Stock Qty</th>
            <th scope="col" width="8%" class="text-center">Cost (Avg)</th>
            <th scope="col" width="8%" class="text-right">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for cmsitem in match_item_list_obj %}
        
        <tr 
            {% if cmsitem.discontinue %}
            class="table-secondary text-muted"
            {% endif %}
        >
            <td><b>{{ cmsitem.registration_no }}</b>
                {% if cmsitem.discontinue %}
                <br><span class="badge badge-secondary">Inactive</span>
                {% else %}
                <br>{{ cmsitem.clinic_drug_no }}
            </td>
                {% endif %}
            <td>
                <b>{{ cmsitem.alias }}</b>
                <br>{{ cmsitem.certificate_holder }}
            </td>
            <td><b>{{ cmsitem.product_name }}</b>
            <br>{{ cmsitem.label_name }}</td>
            <td>
                <b>{{ cmsitem.generic_name }}</b>
                <br>{{ cmsitem.ingredient }}
            </td>
            <td class="text-center">
                {{ cmsitem.stock_qty }}
            </td>
            <td class="text-center">
                {% if cmsitem.standard_cost %}
                {{ cmsitem.standard_cost }}
                {% else %}-
                {% endif %}
                <br>({% if cmsitem.average_cost %}{{ cmsitem.average_cost}}{% else %} - {% endif %})
            </td>
            <td class="item-action-cell text-right">
                <button
                  class="btn_modal_trigger btn btn-sm btn-secondary"
                  data-id="{% url 'cmsinv:InventoryItemQuickEditModal' cmsitem.pk %}?next={{ request.path }}"  
                ><i class="far fa-file-edit"></i>
                </button>
                <a
                    class="btn btn-sm btn-primary" 
                    href="{% url 'cmsinv:InventoryItemDetail' cmsitem.pk %}?next={{ request.path }}"
                ><i class="fad fa-file"></i>
                </a>
            </td>
        </tr>

        {% endfor %}

    </tbody>
</table>
