{% extends 'base.html' %}

{% block title %}
CMS Inventory Items
{% endblock %}

{% block content %}

{% include "_modal.html" %}

<h1>CMS Inventory Item List</h1>
<nav class="row">
    <div class="col-4">
        <form action="{% url 'cmsinv:InventoryItemList' %}" method="get">
            <input class="form-control" name="q" type="text" placeholder="Search CMS Inventory Items..." />
        </form>
    </div>
    <div class="col-4">
        {% if last_query %}
        <p>
            Results for <em>"{{ last_query }}"</em>
            <span class="badge badge-secondary">{{ last_query_count }}</span>
        </p>
        {% endif %}
    </div>
    <div class="col-4">
        {% if is_paginated %}

        <ul class="pagination">
            <li class="page-item">
                <a href="{% url 'cmsinv:InventoryItemList' %}?q={{ last_query }}&page=1" class="page-link">
                    First
                </a>
            </li>
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="{% url 'cmsinv:InventoryItemList' %}?q={{ last_query }}&page={{ page_obj.previous_page_number }}"
                    class="page-link">
                    {{ page_obj.previous_page_number }}
                </a>
            </li>
            {% endif %}
            <li class="page-item active">
                <a href="{% url 'cmsinv:InventoryItemList' %}?q={{ last_query }}&page={{ page_obj.number }}"
                    class="page-link">
                    {{ page_obj.number }}
                </a>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item">
                <a href="{% url 'cmsinv:InventoryItemList' %}?q={{ last_query }}&page={{ page_obj.next_page_number }}"
                    class="page-link">
                    {{ page_obj.next_page_number }}
                </a>
            </li>
            {% endif %}
            <li class="page-item">
                <a href="{% url 'cmsinv:InventoryItemList' %}?q={{ last_query }}&page=last" class="page-link">
                    Last ({{ page_obj.paginator.num_pages }})
                </a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>

{% if match_item_list_obj %}

{% include 'cmsinv/_inventory_item_list_table.html' %}

{% else %}

<p>No CMS item in database</p>

{% endif %}

{% endblock %}


{% block extrascripts %}

<script type="text/javascript">
    $(document).ready(function () {
        $(".show-item-details").each(function () {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });
        $(".item-action-cell")
        .append(
            `<div class="dropdown">
                <a class="btn btn-sm btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Add new delivery</a>
                    <a class="dropdown-item" href="#">Toggle active status</a>
                    <a class="dropdown-item" href="#">Edit</a>
                </div>
            </div>
            `)
    });
</script>
{% endblock extrascripts %}