<div class="modal-header">
  <h3 class="modal-title">Inventory Item Detail</h3>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  {% if object %}
  <div class="card">
    <div class="card-header bg-info">
      <div class="row">
        <div class="col-md-8">
          <h5>CMS Record matching {{ object.registration_no }}</h5>
        </div>
        <div class="col-md-4">
          <a href="{% url 'cmsinv:InventoryItemUpdate' object.pk %}" class="btn btn-sm btn-light"> Update </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          Product Name
        </div>
        <div class="col-md-6">
          {{ object.product_name }}
        </div>
        <div class="col-md-2">
          Clinic No.
        </div>
        <div class="col-md-2">
          {{ object.clinic_drug_no }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          Generic Name
        </div>
        <div class="col-md-6">
          {{ object.generic_name }}
        </div>
        <div class="col-md-2">
          Stock Quantity
        </div>
        <div class="col-md-2">
          {{ object.stock_qty }}
        </div>

      </div>
      <div class="row">
        <div class="col-md-2">
          Alias
        </div>
        <div class="col-md-6">
          {{ object.alias }}
        </div>
        <div class="col-md-2">
          Standard Cost
        </div>
        <div class="col-md-2">
          {{ object.standard_cost }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          Ingredients
        </div>
        <div class="col-md-6">
          {{ object.ingredient }}
        </div>
        <div class="col-md-2">
          Unit Price
        </div>
        <div class="col-md-2">
          {{ object.unit_price }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          Cert. Holder
        </div>
        <div class="col-md-6">
          {{ object.certificate_holder.name }}
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="alert alert-danger" role="alert">
    No CMS inventory item
  </div>
  {% endif %}


  {% if reg_drug_obj %}
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-8">
          <h5>Matching Registered Drug Record</h5>
        </div>
        <div class="col-md-4">
          <a href="#" class="btn btn-sm btn-secondary"> Push to CMS </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          Permit No.
        </div>
        <div class="col-md-9">
          {{ reg_drug_obj.reg_no }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          Product Name
        </div>
        <div class="col-md-9">
          {{ reg_drug_obj.name }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          Ingredients
        </div>
        <div class="col-md-9">
          {{ reg_drug_obj.ingredients }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          Cert. Holder
        </div>
        <div class="col-md-9">
          {{ reg_drug_obj.company.name }}
        </div>
      </div>

    </div>
  </div>
  {% else %}
  <div class="alert alert-danger" role="alert">
    No matching registered drug no.
  </div>
  {% endif %}
  {% if drug_delivery_obj %}
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-8">
          <h5>Delivery Record on {{ drug_delivery_obj.received_date }}</h5>
        </div>
        <div class="col-md-4">
          <a href="#" class="btn btn-sm btn-secondary"> Push Cost Data to CMS
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-sm table-striped">
        <tbody>
          <tr>
            <th scope="row">Vendor</th>
            <td>{{ drug_delivery_obj.vendor }}</td>
          </tr>
          <tr>
            <th scope="row">Quantity+Bonus</th>
            <td>{{ drug_delivery_obj.purchase_quantity }} + {{ drug_delivery_obj.bonus_quantity }}</td>
          </tr>
          <tr>
            <th scope="row">Unit Price</th>
            <td>${{ drug_delivery_obj.unit_price }} / {{ drug_delivery_obj.purchase_unit }} of
              {{ drug_delivery_obj.items_per_purchase}} {{ drug_delivery_obj.items_unit }}</td>
          <tr>
            <th scope="row">Average Cost</th>
            <td>{{ drug_delivery_obj.average_cost }} / {{ drug_delivery_obj.items_unit }}</td>
          </tr>
          <tr>
            <th scope="row">Expiry Date</th>
            <td>{{ drug_delivery_obj.expiry_date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {% else %}
  <div class="alert alert-warning" role="alert">
    <div class="row">
      <div class="col-md-8">
        No drug delivery record
      </div>
      {% if reg_drug_obj %}
      <div class="col-md-4">
        <a href="{% url 'drugdb:NewDrugDelivery' reg_drug_obj.reg_no %}" class="btn btn-sm btn-secondary">Add new
          delivery</a>
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>