{% extends 'base.html' %}

{% block title %}
CMS Inventory Items
{% endblock %}

{% block main %}

<h1>CMS Inventory Item List</h1>
<nav class="row">

    <div class="col-4">
        <form action="{% url 'cmsinv:InventoryItemList' %}" method="get">
            <input class="form-control" name="q" type="text" placeholder="Search CMS Inventory Items..." />
        </form>
    </div>
    <div class="col-4">
        {% if last_query %}
        <p>
            Results for <em>"{{ last_query }}"</em>
            <span class="badge badge-secondary">{{ last_query_count }}</span>
        </p>
        {% endif %}
    </div>
    <div class="col-4">
        {% if is_paginated %}

        <ul class="pagination">
            <li class="page-item">
                <a href="{% url 'cmsinv:InventoryItemList' %}?q={{ last_query }}&page=1" class="page-link">
                    First
                </a>
            </li>
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="{% url 'cmsinv:InventoryItemList' %}?q={{ last_query }}&page={{ page_obj.previous_page_number }}"
                    class="page-link">
                    {{ page_obj.previous_page_number }}
                </a>
            </li>
            {% endif %}
            <li class="page-item active">
                <a href="{% url 'cmsinv:InventoryItemList' %}?q={{ last_query }}&page={{ page_obj.number }}"
                    class="page-link">
                    {{ page_obj.number }}
                </a>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item">
                <a href="{% url 'cmsinv:InventoryItemList' %}?q={{ last_query }}&page={{ page_obj.next_page_number }}"
                    class="page-link">
                    {{ page_obj.next_page_number }}
                </a>
            </li>
            {% endif %}
            <li class="page-item">
                <a href="{% url 'cmsinv:InventoryItemList' %}?q={{ last_query }}&page=last" class="page-link">
                    Last ({{ page_obj.paginator.num_pages }})
                </a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>

{% if inventory_item_list %}
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th scope="col-sm-2">Reg no.</th>
            <th scope="col-sm-6">Product name</th>
            <th scope="col-sm-2">Alias</th>
            <th scope="col-sm-2">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in inventory_item_list %}
        {% if item.discontinue %}
        <tr>
            {% else %}
        <tr class="table-primary">
            {% endif %}
            <td>{{ item.registration_no }}</td>
            <td>{{ item.product_name }}</td>
            <td>{{ item.alias }}</td>
            <td>
                <a href="{% url 'cmsinv:InventoryItemUpdate' item.pk %}" class="btn btn-sm btn-info"><i
                        class="fad fa-edit"></i></a>
                <button type="button" class="show-item-details btn btn-sm btn-primary"
                    data-id="{% url 'cmsinv:InventoryItemModalDetail' item.pk %}">
                    <i class="fad fa-file-alt"></i>
                </button>
                {% if item.registration_no %}
                <a href="{% url 'cmsinv:MatchInventoryItemList' item.registration_no %}" class="btn btn-sm btn-success">
                    <i class="fad fa-file-search"></i>
                </a>
                {% endif %}
            </td>
        </tr>

        {% endfor %}

    </tbody>
</table>

{% else %}

<p>No item in database</p>

{% endif %}

{% endblock %}

{% block sidebar %}
{% endblock %}

{% block extrascripts %}

<script type="text/javascript">
    $(document).ready(function () {
        $(".show-item-details").each(function () {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });
    });
</script>
{% endblock extrascripts %}