{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Item: {{ item_obj.product_name }}
{% endblock %}


{% block content %}
<div class="card shadow mb-2">
  <div class="card-header text-white bg-secondary">
    <div class="d-flex justify-content-between align-items-center">
      <span>
        <i class="fad fa-edit"></i>
        Edit Inventory Item [ {{ item_obj.id }} ] {{ item_obj.product_name }}</span>
    </div>
  </div>
  <div class="card-body bg-light">

    {% include 'drugdb/_regdrug_summary.html' %}
 
    <div class="card shadow mb-2">
      <div class="card-header text-white bg-secondary">
        <div class="d-flex justify-content-between align-items-center">
          Edit Details
          <span>
            Last updated: {{ item_obj.last_updated|date:'d-m-Y' }} (v{{ item_obj.version }})
          </span>
        </div>
      </div>
      <div class="card-body bg-light">
        {% crispy form %}
      </div>
    </div>
  </div>
</div>
  
{% endblock %}