<!--
Include View for inventory item, registered drug, drug delivery match
Requires the following parameters:
- item_obj
- reg_drug_obj
- delivery_obj_list
-->

{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
CMS Inventory Item: {{ item_obj.registration_no }}
{% endblock %}

{% block content %}

<h1>Update Inventory Item</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-5 mt-1 mb-0 bg-primary text-white">
            <h3>CMS Inventory Item</h3>
        </div>
        <div class="form-group col-md-2 mb-0">
            {% if drug_obj %}
            <button id="match-reg-drug" class="btn btn-sm btn-warning mt-2" type="button">
                <i class="fad fa-angle-double-left"></i>
                Update
            </button>
            {% endif %}
        </div>
        <div class="form-group col-md-5 mt-1 mb-0 bg-secondary text-light">
            <h3>Registered Drug
            {% if drug_obj %}
                <small># {{ drug_obj.reg_no }}</small>
            {% endif %}
            </h3>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5 mb-0">
            {{ form.registration_no|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
        </div>
        <div class="form-group col-md-5 mb-0 bg-light">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5 mb-0">
            {% if object.clinic_drug_no %}
            {{ form.clinic_drug_no|as_crispy_field }}
            {% else %}
            Clinic drug no<br>
            <button class="btn btn-outline-success btn-block" type="button">
                Generate new clinic drug no.
            </button>
            {% endif %}
        </div>
        <div class="form-group col-md-2 mb-0">
        </div>
        <div class="form-group col-md-5 mb-0 bg-light">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5 mb-0">
            {{ form.alias|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">

        </div>
        <div class="form-group col-md-5 mb-0 bg-light">

        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5 mb-0">
            {{ form.label_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">

        </div>
        <div class="form-group col-md-5 mb-0 bg-light">

        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5 mb-0">
            {{ form.product_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            <div class="row mb-3 pb-1"> </div>
            <button id="match-product-name" class="btn btn-sm btn-info mt-3" type="button">
                <i class="fad fa-angle-double-left"></i>
                Product name
            </button>
        </div>
        <div class="form-group col-md-5 mb-0 bg-light">
            {% if drug_obj %}
            <div class="mt-1 mb-1 pb-1">Product name</div>
            <div id="drug-obj-product-name" 
                class="alert alert-secondary pt-1 pb-1" 
                data-value="{{ drug_obj.name }}">
                {{ drug_obj.name}}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5 mb-0">
            {{ form.generic_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {% if drug_obj %}
            <div class="row mb-3 pb-1"> </div>
            <button id="update-generic-from-ingredient" class="btn btn-sm btn-info mt-3" type="button">
                <i class="fad fa-angle-double-left"></i>
                Ingredients
            </button>
            {% endif %}
        </div>
        <div class="form-group col-md-5 mb-0 bg-light">

        </div>
    </div>
    
    <div class="form-row">
        <div class="form-group col-md-5 mb-0">
            {{ form.ingredient|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {% if drug_obj %}
            <div class="row mb-3 pb-1"> </div>
            <button id="match-ingredient" class="btn btn-sm btn-info mt-3" type="button">
                <i class="fad fa-angle-double-left"></i>
                Ingredients
            </button>
            {% endif %}
        </div>
        <div class="form-group col-md-5 mb-0 bg-light">
            {% if drug_obj %}
            <div class="mt-1 mb-1 pb-1">Ingredients</div>
            <div id="drug-obj-ingredients"
                class="alert alert-secondary pt-1 pb-1"
                data-value="{{ drug_obj.ingredients }}">
                {{ drug_obj.ingredients }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5 mb-0">
            {{ form.certificate_holder|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {% if drug_obj %}
            <div class="row mb-3 pb-1"> </div>
            <button id="match-cert-holder" class="btn btn-sm btn-info mt-3" type="button">
                <i class="fad fa-angle-double-left"></i>
                Cert Holder
            </button>
            {% endif %}
            {% if delivery_obj.vendor %}
            <button id="update-cert-holder-from-vendor" class="btn btn-sm btn-info mt-3" type="button">
                <i class="fad fa-angle-double-left"></i>
                Vendor
            </button>
            {% endif %}
        </div>
        <div class="form-group col-md-5 mb-0 bg-light">
            {% if drug_obj %}
            <div class="mt-1 mb-1 pb-1">Cert Holder</div>
            <div class="alert alert-secondary pt-1 pb-1">
                {{ drug_obj.company }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5 mb-0">
        </div>
        <div class="form-group col-md-2 mb-0">
            
        </div>
        <div class="form-group col-md-5 mb-0 bg-light">
            {% if delivery_obj.vendor %}
            <div class="mt-1 mb-1 pb-1">Vendor</div>
            <div id="delivery-obj-vendor" 
                class="alert alert-secondary pt-1 pb-1"
                data-value="{{ delivery_obj.vendor }}">
                {{ delivery_obj.vendor }}
            </div>
            {% endif %}
        </div>
    </div>
    
   
    <div class="form-row">
        <div class="form-group col-md-5 mt-1 mb-0 bg-primary text-white">
            <h3>Cost/Pricing</h3>
        </div>
        <div class="form-group col-md-2 mt-1 mb-0">
            {% if delivery_obj %}
            <button id="match-costs" class="btn btn-sm btn-warning mt-1" type="button">
                <i class="fad fa-angle-double-left"></i>
                Match costs
            </button>
            {% endif %}
        </div>
        <div class="form-group col-md-5 mt-1 mb-0 bg-secondary text-light">
            <h3>Latest Delivery
                {% if delivery_obj %}
                <small>on {{ delivery_obj.received_date }}</small>
                {% endif %}
            </h3>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5 mb-0">
            {{ form.standard_cost|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {% if delivery_obj.standard_cost %}
            <div class="row mb-3 pb-1"> </div>
            <button id="match-standard-cost" class="btn btn-sm btn-info mt-3" type="button">
                <i class="fad fa-angle-double-left"></i>
                Set standard cost
            </button>
            {% endif %}
        </div>
        <div class="form-group col-md-5 mb-0 bg-light">
            {% if delivery_obj %}
            <div class="mt-1 mb-1 pb-1">Standard Cost</div>
            <div id="delivery-obj-standard-cost"
                class="alert alert-secondary pt-1 pb-1"
                data-value="{{ delivery_obj.standard_cost }}">
                $ {{ delivery_obj.standard_cost }} / {{ delivery_obj.items_unit }}
            </div>
            {% else %}
            <em>No delivery record</em>
           {% endif %}
            
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5 mb-0">
            {{ form.avg_cost|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {% if delivery_obj.average_cost %}
            <div class="row mb-3 pb-1"> </div>
            <button id="match-average-cost" class="btn btn-sm btn-info mt-3" type="button">
                <i class="fad fa-angle-double-left"></i>
                Set average cost
            </button>
            {% endif %}
        </div>
        <div class="form-group col-md-5 mb-0 bg-light">
            {% if delivery_obj %}
            <div class="mt-1 mb-1 pb-1">Average Cost</div>
            <div id="delivery-obj-average-cost"
                class="alert alert-secondary pt-1 pb-1"
                data-value="{{ delivery_obj.average_cost }}">
                $ {{ delivery_obj.average_cost }} / {{ delivery_obj.items_unit }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5 mb-0">
            {{ form.unit_price|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">

        </div>
        <div class="form-group col-md-5 mb-0 bg-light">
            {% if delivery_obj %}
            <div class="mt-1 mb-1 pb-1">Terms</div>
            <div class="alert alert-secondary pt-1 pb-1">
                {{ delivery_obj.purchase_quantity }} + {{ delivery_obj.bonus_quantity }} 
                {{ delivery_obj.purchase_unit}} of {{ delivery_obj.items_per_purchase }} {{ delivery_obj.items_unit }}(s)
                 @ $ {{ delivery_obj.unit_price}} per {{ delivery_obj.purchase_unit }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12 mt-1 mb-0 bg-primary text-white">
            <h3>Details</h3>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5 mb-0">
            {{ form.expected_qty|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">

        </div>
        <div class="form-group col-md-5 mb-0">
            {{ form.reorder_level|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-5 mb-0">
            {{ form.is_master_drug_list|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">

        </div>
        <div class="form-group col-md-5 mb-0">
            {{ form.is_clinic_drug_list|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5 mb-0">
            {{ form.discontinue|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">

        </div>
        <div class="form-group col-md-5 mb-0">
            {{ form.dangerous_sign|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5 mb-0">
            {{ form.dosage|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">

        </div>
        <div class="form-group col-md-5 mb-0">
            {{ form.unit|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5 mb-0">
            {{ form.mini_dispensary_unit|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">

        </div>
        <div class="form-group col-md-5 mb-0">
            {{ form.mini_dosage_unit|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5 mb-0">
            {{ form.instruction|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">

        </div>
        <div class="form-group col-md-5 mb-0">
            {{ form.advisory|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5 mb-0">
            {{ form.frequency|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">

        </div>
        <div class="form-group col-md-5 mb-0">
            {{ form.duration|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5 mb-0">
        </div>
        <div class="form-group col-md-2 mb-0">

        </div>
        <div class="form-group col-md-5 mb-0">
        </div>
    </div>
    <button type="submit" class="btn btn-sm btn-success">Save</button>
</form>

{% if delivery_obj_list %}
<div class="card">
    <div class="card-header">
        Recent Delivery Records
    </div>
    <div class="card-body">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th scope="col">Date received</th>
                    <th scope="col">Purchased+Bonus</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Expiry Date</th>
                    <th scope="col">Average Cost</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in delivery_obj_list %}
                <tr>
                    <td>{{ item.received_date }}</td>
                    <td>{{ item.purchase_quantity }} + {{ item.bonus_quantity }}</td>
                    <td>{{ item.unit_price }} / {{ item.purchase_unit }} of {{ item.items_per_purchase }} {{ item.items_unit }}</td>
                    <td>{{ item.expiry_date }}</td>
                    <td> ${{ item.average_cost }}</td>
                    <td>
                        <a href="{% url 'drugdb:DrugDeliveryDetail' item.pk %}" 
                            class="btn btn-sm btn-primary">
                            <i class="fad fa-file-alt"></i>
                        </a>
                        <button type="button" class="btn btn-sm btn-info"><i
                            class="fad fa-file-import"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}

<div class="alert alert-warning" role="alert">
    <div class="row">
        <div class="col-md-8">
            No drug delivery record
        </div>
        {% if reg_drug_obj %}
        <div class="col-md-4">
            <a href="{% url 'drugdb:NewDrugDelivery' reg_drug_obj.reg_no %}" class="btn btn-sm btn-secondary">Add
                new
                delivery</a>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}

{% endblock %}

{% block extrascripts %}

<script type="text/javascript">
    $(document).ready(function () {
        $("#match-reg-drug").click(function() {
            $("#id_product_name").val($("#drug-obj-product-name").data('value'))
            $("#id_ingredient").val($("#drug-obj-ingredients").data('value'))
            $("#id_certificate_holder").val($("#drug-obj-cert-holder").data('value'))
        })
        $("#match-product-name").click(function() {
            $("#id_product_name").val($("#drug-obj-product-name").data('value'))
        });
        $("#match-ingredient").click(function() {
            $("#id_ingredient").val($("#drug-obj-ingredients").data('value'))
        });
        $("#update-generic-from-ingredient").click(function() {
            $("#id_generic_name").val($("#drug-obj-ingredients").data('value'))
        });
        $("#match-cert-holder").click(function() {
            $("#id_certificate_holder").val($("#drug-obj-cert-holder").data('value'))
        });
        $("#update-cert-holder-from-vendor").click(function() {
            $("#id_certificate_holder").val($("#delivery-obj-vendor").data('value'))
        });
        $("#match-costs").click(function() {
            $("#id_standard_cost").val($("#delivery-obj-standard-cost").data('value'))
            $("#id_avg_cost").val($("#delivery-obj-average-cost").data('value'))
        })
        $("#match-standard-cost").click(function() {
            $("#id_standard_cost").val($("#delivery-obj-standard-cost").data('value'))
        })
        $("#match-average-cost").click(function() {
            $("#id_avg_cost").val($("#delivery-obj-average-cost").data('value'))
        })
    });
</script>
{% endblock extrascripts %}