{% load crispy_forms_tags %}

<div class="modal-header">
  <h5 class="modal-title">Quick Edit: {{ item_obj.product_name }}</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  {% include 'drugdb/_regdrug_summary.html' %}
  {% if match_drug_list %}
  <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
          No match registration number match. Possible matching registered drugs:
          <a href="#" class="btn btn-sm btn-secondary"> Push to CMS </a>
      </div>
      <div class="card-body">
        <table class="table table-sm table-striped">
          <thead>
              <tr>
                  <th scope="col">Reg No.</th>
                  <th scope="col">Product Name</th>
                  <th scope="col">Ingredients</th>
                  <th scope="col">Action</th>
              </tr>
          </thead>
          <tbody>
            {% for drug in match_drug_list %}
              <tr>
                  <td>{{ drug.reg_no }}</td>
                  <td>{{ drug.name }}</td>
                  <td>{{ drug.ingredients_list }}</td>
                  <td class="match-drug-action-cell">
                      <button
                        class="btn_quickedit_reg btn btn-link"
                        data-id="{% url 'cmsinv:InventoryItemQuickEditModal' item_obj.id %}?reg_no={{drug.reg_no}}"  
                      ><i class="fad fa-edit"></i>
                      </button>
                  </td>
              </tr>
              {% endfor %}
      
          </tbody>
        </table>
      </div>
  </div>
  {% endif %}
  <div class="card shadow mb-2">
    <div class="card-header bg-light align-items-center">
      <div class="row">
        <div class="col-2 d-flex align-items-center">
          <strong>Edit Item</strong>
        </div>
        <div class="col-10 d-flex justify-content-between">
          <div>
            <button class="btn btn_update_all btn-sm btn-secondary">Match RegDrug <i class="fad fa-arrow-circle-down"></i></button>
            {% if item_obj.discontinue %}
            <span class="badge badge-danger">Inactive/Discontinued</span>
            {% endif %}
          </div>
          <span>
            <div class="btn-group" role="group" aria-label="Reference">
              {% if item_obj.registration_no %}
              <button type="button" class="btn btn-sm btn-light" disabled>
                Reg # {{ item_obj.registration_no }}
              {% elif set_match_drug %}
              <button type="button" class="btn btn-sm btn-warning" disabled>
                Reg # None <i class="fad fa-arrow-to-right"></i> {{ drug_obj.reg_no }}
              </button>
              {% endif %}
              {% if item_obj.clinic_drug_no %}
              <button type="button" class="btn btn-sm btn-light" disabled># {{ item_obj.clinic_drug_no }}</button>
              {% endif %}
            </div>
            <div class="btn-group" role="group" aria-label="Detail Edit Actions">
              <a href="{% url 'cmsinv:InventoryItemUpdate' item_obj.pk %}" class="btn btn-sm btn-light"><i class="fad fa-edit"></i></a>
            </div>
          </span>
        </div>
        
      </div>
      
    </div>
    <div class="card-body">
      {% crispy form %}
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

{{ drug_obj.name|json_script:"product_name" }}
{{ drug_obj.ingredients_list|json_script:"ingredients"}}
{{ generic_name|json_script:"generic_name"}}
{{ next_clinic_no|json_script:"next_clinic_no" }}
<script type="text/javascript">
  product_name = JSON.parse(document.getElementById("product_name").textContent)
  ingredients = JSON.parse(document.getElementById("ingredients").textContent)
  generic_name = JSON.parse(document.getElementById("generic_name").textContent)
  $(".btn_update_all").click(function() {
      $("#id_product_name").val(product_name)
      $("#id_label_name").val(product_name)
      $("#id_ingredient").val(ingredients)
      $("#id_generic_name").val(generic_name)
  })
  $(".btn_update_product").click(function() {
      $("#id_product_name").val(product_name)
  });
  $(".btn_update_label").click(function() {
      $("#id_label_name").val(product_name)
  });
  $(".btn_update_ingredient").click(function() {
      $("#id_ingredient").val(ingredients)
  });
  $(".btn_update_generic").click(function() {
      $("#id_generic_name").val(generic_name)
  });
  $(".btn_quickedit_reg").each(function () {
    $(this).modalForm({
        formURL: $(this).data('id')
    });
  });    
  next_clinic_no = JSON.parse(document.getElementById("next_clinic_no").textContent);
  $('#id_discontinue').on('change', function() {
    // If item set as active (discontinue set from checked -> not checked)
    if ($('#id_discontinue').is(':checked')) {
      // Set clinic drug as not checked
      $('#id_is_clinic_drug_list').prop('checked', false);
      $('#id_is_master_drug_list').prop('checked', true);
    }
    else {
      if ($('#id_clinic_drug_no').val() == '') {
        $('#id_clinic_drug_no').val(next_clinic_no)
      }
      // Set clinic drug as checked
      $('#id_is_clinic_drug_list').prop('checked', true);
    }
  });
</script>