{% extends 'base.html' %}

{% block title %}
  CMS Item: {{ cmsitem_obj.product_name }}
{% endblock %}

{% block content %}
{% include '_modal.html' %}
<div class="card shadow">
  <div class="card-header bg-light">
    <div class="d-flex justify-content-between align-items-center">
      <span>
        <i class="fad fa-file-alt"></i>
        CMS Inventory Item [ {{ cmsitem_obj.id }} ] {{ cmsitem_obj.product_name }}</span>
    </div>
  </div>
  <div class="card-body">
    {% include 'cmsinv/_inventory_item_summary.html' %}
    {% include 'drugdb/_regdrug_summary.html' %}
    {% include 'cmsinv/_deliveryitem_list_table.html' %}
  </div>
</div>

{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
    $(document).ready(function () {
      $(".btn_modal_trigger").each(function () {
        $(this).modalForm({
            formURL: $(this).data('id')
        });
      });  
    });
</script>
{% endblock %}