{% extends 'base.html' %}

{% block title %}
CMS Inventory Items
{% endblock %}

{% block content %}

{% include "_modal.html" %}

{% include 'cmsinv/_inventory_item_match_view.html' %}

{% if match_item_list_obj %}
<div class="card">
    <div class="card-header">
        Related CMS Inventory Items
    </div>
    <div class="card-body">
        {% include 'cmsinv/_inventory_item_list_table.html' %}
    </div>
</div>

{% else %}
<div class="alert alert-danger" role="alert">
    No related CMS inventory items
</div>
{% endif %}

{% endblock %}


{% block extrascripts %}

<script type="text/javascript">
    $(document).ready(function () {
        $(".show-item-details").each(function () {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });
        $(".btn_quickedit").each(function () {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });
    });
</script>
{% endblock extrascripts %}