{% load static %}

<!-- Header -->
<header>
    <nav class="navbar navbar-expand-sm navbar-dark cmm-masthead">
        <a class="navbar-brand" href="{% url 'home' %}"><i class="fad fa-laptop-medical"></i></a>
        <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarBaseToggler"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class= "collapse navbar-collapse" id="navbarBaseToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-sm-0">
                {% if perms.ledger.add_expense %}
                <li class="nav-item">
                    <a href="{% url 'ledger:NewExpense' %}" class="nav-link"><i class="far fa-plus"></i>&nbsp;<i class="far fa-file-invoice-dollar"></i></a>
                </li>
                {% endif %}

                {% if perms.ledger.view_expense %}
                <li class="nav-item">
                    <a href="{% url 'ledger:ExpenseList' %}" class="nav-link">Expenses</a>
                </li>
                {% endif %}
                {% if perms.ledger.view_income %}
                <li class="nav-item">
                    <a href="{% url 'ledger:IncomeList' %}" class="nav-link">Income</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'inventory:DeliveryOrderList' %}" class="nav-link">Deliveries</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'inventory:DeliveryItemList' %}" class="nav-link">Delivered Items</a>
                </li>
                {% if perms.cmsinv.view_inventoryitem %}
                <li class="nav-item">
                    <a href="{% url 'cmsinv:InventoryItemList' %}" class="nav-link">CMS Inventory</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'drugdb:DrugList' %}" class="nav-link">Reg Drugs</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'cmsinv:InventoryItemList' %}"
                        id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fad fa-tags"></i>
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'inventory:ItemList' %}" class="dropdown-item">Item List</a>
                        <a href="{% url 'inventory:VendorList' %}" class="dropdown-item">Vendor List</a>
                        {% if perms.cmsinv.view_auditlog %}
                        <a href="{% url 'cmsinv:SupplierList' %}" class="dropdown-item">
                            CMS Supplier Manufacturer List
                        </a>
                        <a href="{% url 'cmsinv:InventoryMovementLog' %}" class="dropdown-item">
                            CMS Inventory Movement Log
                        </a>
                        <a href="{% url 'cmssys:AuditLog' %}" class="dropdown-item">
                            CMS Audit Log
                        </a>
                        {% endif %}
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav my-2 my-sm-0">
                {% if user.is_staff %}
                <li class="nav-item">
                    <a href="{% url 'admin:index' %}" class="nav-link">[{{ user.username }}]</a>
                </li>
                {% else %}
                <span class="navbar-text">[{{ user.username }}]</span>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>