{% load static %}

<!-- Header -->
<header>
    <nav class="navbar navbar-expand-sm navbar-dark cmm-masthead">
        <a class="navbar-brand" href="{% url 'home' %}"><i class="fad fa-laptop-medical"></i></a>
        <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarBaseToggler"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class= "collapse navbar-collapse" id="navbarBaseToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-sm-0">
                {% if perms.ledger.can_add_expense %}
                <li class="nav-item">
                    <a href="{% url 'ledger:NewExpense' %}" class="nav-link"><i class="fal fa-plus"></i> Expense</a>
                </li>
                {% endif %}
                {% if perms.drugdb.can_add_drugdelivery %}
                <li class="nav-item">
                    <a href="{% url 'inventory:NewDeliveryOrder' %}" class="nav-link"><i class="fal fa-plus"></i> Delivery</a>
                </li>
                {% endif %}

                {% if perms.ledger.can_view_expense %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'ledger:ExpenseList' %}"
                        id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Expenses
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a href="{% url 'inventory:VendorList' %}?vtype=any" class="dropdown-item">View Vendors</a>
                        <a href="{% url 'ledger:ExpenseList' %}" class="dropdown-item">View Expenses</a>
                        <a href="{% url 'ledger:ExpenseCategoryList' %}" class="dropdown-item">View Categories</a>
                        <a href="{% url 'inventory:NewVendor' %}" class="dropdown-item">Add Vendor</a>
                    {% comment %}    
                        <a href="{% url 'ledger:NewExpenseCategory' %}" class="dropdown-item">Add Category</a>
                    {% endcomment %}
                        <a href="{% url 'ledger:ExpenseExportCsv' %}" class="dropdown-item">Export Expenses</a></p>
                    </div>
                </li>
                {% endif %}
                {% if perms.inventory.can_view_deliveryorder %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'inventory:DeliveryOrderList' %}"
                        id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Delivery/Orders 
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a href="{% url 'inventory:VendorList' %}?vtype=supp" class="dropdown-item">View Suppliers</a>
                        <a href="{% url 'inventory:DeliveryOrderList' %}" class="dropdown-item">View Delivery Orders</a>
                        <a href="{% url 'inventory:DeliveryItemList' %}" class="dropdown-item">View Delivered Drugs/Items</a>
                        <a href="{% url 'inventory:NewVendor' %}" class="dropdown-item">Add Vendor</a>
                    </div>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                        id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        CMS+
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'cmsinv:InventoryItemList' %}" class="dropdown-item">
                            View Item Inventory List
                        </a>
                        <a href="{% url 'cmsinv:SupplierList' %}" class="dropdown-item">
                            View Supplier Manufacturer List
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'cmsinv:InventoryItemList' %}"
                        id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reference 
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'drugdb:DrugList' %}" class="dropdown-item">View Registered Drugs</a>
                        <a href="{% url 'inventory:ItemList' %}" class="dropdown-item">View Item List</a>
                    </div>
                </li>
            
            </ul>
            <ul class="navbar-nav my-2 my-sm-0">
                <li class="nav-item dropdown">
                    <a href="{% url 'admin:index' %}" class="nav-link">Admin</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>