{% load static %}

<!-- Header -->
<header>
    <nav class="navbar navbar-expand-sm navbar-dark cmm-masthead">
        <a class="navbar-brand" href="{% url 'home' %}"><i class="fad fa-laptop-medical"></i></a>
        <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarBaseToggler"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class= "collapse navbar-collapse" id="navbarBaseToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-sm-0">
                {% if perms.ledger.can_add_expense %}
                <li class="nav-item">
                    <a href="{% url 'ledger:NewExpense' %}" class="nav-link">Add Expense</a>
                </li>
                {% endif %}
                {% if perms.drugdb.can_add_drugdelivery %}
                <li class="nav-item">
                    <a href="{% url 'inventory:NewDeliveryOrder' %}" class="nav-link">New Delivery</a>
                </li>
                {% endif %}

                {% if perms.ledger.can_view_expense %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'ledger:ExpenseList' %}"
                        id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Expenses
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a href="{% url 'ledger:ExpenseList' %}" class="dropdown-item">Show Expenses</a>
                        <a href="{% url 'ledger:ExpenseCategoryList' %}" class="dropdown-item">Show Categories</a>
                        <a href="{% url 'inventory:VendorList' %}" class="dropdown-item">Show Vendors</a>
                    {% comment %}    
                        <a href="{% url 'ledger:NewExpenseCategory' %}" class="dropdown-item">Add Category</a>
                        <a href="{% url 'inventory:NewVendor' %}" class="dropdown-item">Add Vendor</a>
                    {% endcomment %}
                        <a href="{% url 'ledger:ExpenseExportCsv' %}" class="dropdown-item">Export Expenses</a></p>
                    </div>
                </li>
                {% endif %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'cmsinv:InventoryItemList' %}"
                        id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Drugs
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'cmsinv:InventoryItemList' %}" class="dropdown-item">Show Drug Inventory
                            List</a>
                        <a href="{% url 'drugdb:DrugList' %}" class="dropdown-item">Show Registered Drugs</a>
                        <a href="{% url 'drugdb:DrugDeliveryList' %}" class="dropdown-item">Show Delivered Drugs</a>
                    </div>
                </li>
            {% comment %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'inventory:ItemList' %}"
                        id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Misc
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a href="{% url 'inventory:ItemList' %}" class="dropdown-item">Show Items</a>
                        <a href="{% url 'inventory:ItemDeliveryList' %}" class="dropdown-item">Show Delivered
                            Items</a>
                        <a href="{% url 'inventory:NewItem' %}" class="dropdown-item">Add Item</a>
                        <a href="{% url 'inventory:NewCategory' %}" class="dropdown-item">Add Item Category</a>
                        <a href="{% url 'inventory:CategoryList' %}" class="dropdown-item">Show ItemCategories</a>
                    </div>
                </li>
            {% endcomment %}
            </ul>
            <ul class="navbar-nav my-2 my-sm-0">
                {% if user.username == 'admin' %}
                <li class="nav-item dropdown">
                    <a href="{% url 'admin:index' %}" class="nav-link">djAdmin</a>
                </li>
                {% endif%}
                <li class="nav-item dropdown">
                    <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>