<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><meta charset="UTF-8">
    {% load static %}
    <link href="{% static '/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <title>
        {% block title %}CMS Manager{% endblock %}
    </title>
    <style>
        .cmm-masthead {
            background-color: #eee;
            margin-bottom: 1em;
        }
    </style>
</head>
<body>
    <div class="cmm-masthead">
        <div class="container">
            <nav class="nav">
                <div class="navbar-brand">cmsMan</div>

                {% block nav %}

                {% if user.is_authenticated %}
                <a 
                    href="{% url 'drugdb:DrugList' %}" 
                    class="nav-link">
                    Drugs
                </a>
                <a
                    href="{% url 'drugdb:DrugDeliveryList' %}"
                    class="nav-link">
                    Deliveries
                </a>
                <a
                    href="{% url 'inventory:VendorList' %}"
                    class="nav-link"
                    >
                    Vendors</a></p>

                <a
                    href="{% url 'inventory:ItemList' %}"
                    class="nav-link">
                    Items
                </a>
                <a 
                    href="{% url 'inventory:ItemDeliveryList' %}"
                    class="nav-link">
                    ItemDeliveries
                </a>
                {% endif %}

                {% endblock %}
            </nav>
        </div>
    </div>
    <div class="container">
        {% if user.is_authenticated %}
        
        <div class="row">
            <div class="col-sm-10 cmm-main">
                {% block main %}{% endblock %}
            </div>
            <div class="col-sm-2 cmm-sidebar">
                {% block sidebar %}{% endblock %}
            </div>
        </div>

        {% else %}
        <h2>You are not logged in</h2><br>
        <a class="btn btn-primary" href="{% url 'login' %}">Login</a>

        {% endif %}
    </div>
</body>
</html>