<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><meta charset="UTF-8">
    {% load static %}
    <link href="{% static '/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <title>
        {% block title %}CMS Manager{% endblock %}
    </title>
    <style>
        .cmm-masthead {
            background-color: #eee;
            margin-bottom: 1em;
        }
    </style>
</head>
<body>
    <div class="cmm-masthead">
        <div class="container">
            <nav class="nav">
                <div class="navbar-brand">cmsMan</div>
                {% block nav %}
                {% endblock %}
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 cmm-main">
                {% block main %}{% endblock %}
            </div>
            <div class="col-sm-2 cmm-sidebar">
                {% block sidebar %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>