{% extends 'base.html' %} 

{% block content %}

<p>Logged in as {{ user.username }}</p>

  <div class="card">
    <div class="card-header">
      Quicklinks
    </div>
    <div class="card-body">
      <ul class="nav flex-column">
        {% if perms.ledger.can_add_expense %}
        <li class="nav-item">
          <a
            href="{% url 'ledger:NewExpense' %}"
            class="btn btn-sm btn-success mb-1"
            >Add New Expense</a
          >
        </li>
        {% endif %}
        {% if perms.ledger.can_view_expense %}
        <li class="nav-item">
          <a
            href="{% url 'ledger:ExpenseList' %}"
            class="btn btn-sm btn-info mb-1"
            >Show Expenses</a
          >
        </li>
        {% endif %}
        <li class="nav item">
          <a
            href="{% url 'drugdb:DrugList' %}"
            class="btn btn-sm btn-primary mb-1"
            >Search Registered Drug</a
          >
        </li>
        {% if perms.inventory.can_view_supplier %}
        <li class="nav item">
          <a href="{% url 'inventory:VendorList' %}?s=1"
            class="btn btn-sm btn-secondary mb-1"
          >View Suppliers
          </a>
        </li>
        {% endif %}
    </ul>
      <!-- <p><a
          href="{% url 'ledger:NewExpense' %}"
          class="btn btn-sm btn-success mb-1"
          >Add New Expense</a
        ></p>
      <p><a
          href="{% url 'cmsinv:InventoryItemList' %}"
          class="btn btn-sm btn-info mb-1"
          >Add Drug to Inventory</a
        ></p> -->
    </div>
  </div>
  <form action="{% url 'cmsinv:InventoryItemList' %}" method="get">
    <div class="input-group mb-3">
      <input
        class="form-control"
        name="q"
        type="text"
        placeholder="Search CMS Drug Inventory List"
      />
      <div class="input-group-append">
        <button class="btn btn-secondary">Search</button>
      </div>
    </div>
  </form>
    
{% endblock %}
